
@font-face {
    font-family: 'DMitalic';
    src: url(../../font/DMItalic.ttf);
    font-weight: regular;
}
@font-face {
    font-family: 'prata';
    src: url(../../font/prata.ttf);
    font-weight: regular;
}

@font-face {
    font-family: 'DMregular';
    src: url(../../font/DMRegular.ttf);
    font-weight: regular;
}