<section class="catalogo m-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="titulo titulo--mediano">Catálogo de estampillas</h2>
                <p class="parrafo parrafo--mediano">Elige el filtro que necesites que se aplique a tu búsqueda. Ya sea por año o por tema</p>
            </div>
            <div class="col-lg-4">
                <div class="catalogo__content">
                    <h3 class="titulo titulo--chico">Búsqueda por país</h3>
                    <div class="row">
                       <!-- <div class="col-lg-3">
                            <a class="catalogo__content__pais">
                                <img src="assets/img/pais/canada.png"  alt="">
                                <h4>Canadá</h4>
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a href="" class="catalogo__content__pais">
                                <img src="assets/img/pais/mexico.png"  alt="">
                                <h4>México</h4>
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a href="" class="catalogo__content__pais">
                                <img src="assets/img/pais/usa.png"  alt="">
                                <h4>U.S.A</h4>
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a href="" class="catalogo__content__pais">
                                <img src="assets/img/pais/argentina.png"  alt="">
                                <h4>Argentina</h4>
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a href="" class="catalogo__content__pais">
                                <img src="assets/img/pais/bolivia.png"  alt="">
                                <h4>Bolivia</h4>
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a href="" class="catalogo__content__pais">
                                <img src="assets/img/pais/brazil.png"  alt="">
                                <h4>Brasil</h4>
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a href="" class="catalogo__content__pais">
                                <img src="assets/img/pais/chile.png"  alt="">
                                <h4>Chile</h4>
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a href="" class="catalogo__content__pais">
                                <img src="assets/img/pais/colombia.png"  alt="">
                                <h4>Colombia</h4>
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a href="" class="catalogo__content__pais">
                                <img src="assets/img/pais/ecuador.png"  alt="">
                                <h4>Ecuador</h4>
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a href="" class="catalogo__content__pais">
                                <img src="assets/img/pais/guyana.png"  alt="">
                                <h4>Guyana</h4>
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a href="" class="catalogo__content__pais">
                                <img src="assets/img/pais/paraguay.png"  alt="">
                                <h4>Paraguay</h4>
                            </a>
                        </div>-->
                        <div class="col-lg-3">
                            <a href="/catalogo-interna" class="catalogo__content__pais">
                                <img src="assets/img/pais/peru.png"  alt="">
                                <h4>Perú</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-2">
                <div class="tema">
                    <h3 class="titulo titulo--chico">Temas</h3>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="tema__item">
                                <img src="assets/img/nosotros/1.jpg" alt="">
                                <div class="tema__item__color">
                                    <h3>Upaep</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="tema__item">
                                <img src="assets/img/nosotros/1.jpg" alt="">
                                <div class="tema__item__color">
                                    <h3>Mariposas</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="tema__item">
                                <img src="assets/img/nosotros/1.jpg" alt="">
                                <div class="tema__item__color">
                                    <h3>Gastronomía</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="tema__item">
                                <img src="assets/img/nosotros/1.jpg" alt="">
                                <div class="tema__item__color">
                                    <h3>Disney</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
