@import '../../../assets/styles/variables/variables.scss';

@media (max-width: 1920px){
.footer{
    background-color: $negro;
    padding:80px 0px 130px;
    &__logo{
        text-align: center;
        img{
            width: 175px;
        }
        ul{
            margin-top: 30px;
            padding: 0;
            li{
                display: inline-block;
                padding: 0px 16px;
                a{
                    img{
                        width: 35px;
                    }
                }
            }
        }
    }
    &__content{
        font-family: $lato;
        &:nth-of-type(2){
            margin-top: 78px;
        }
        h3{
            color: $plomo;
            font-size: 27px;
            margin-bottom: 18px;
        }
        a{
            display: block;
            color: $blanco;
            font-size: 19px;
            margin-bottom: 7px;
        }
    }
}
}