<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-2">
              <div class="footer__logo">
                  <img src="assets/img/logo-footer.png" alt="">
                  <ul>
                      <li>
                          <a href=""><img src="assets/img/iconos/twitter.svg" alt=""></a>
                      </li>
                      <li>
                          <a href=""><img src="assets/img/iconos/facebook.svg" alt=""></a>
                      </li>
                      <li>
                          <a href=""><img src="assets/img/iconos/facebook.svg" alt=""></a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="footer__content">
                  <h3>Tienda</h3>
                  <a href="">Preguntas frecuentes</a>
                  <a href="">Información de delivery</a>
              </div>
              <div class="footer__content">
                  <h3>Más</h3>
                  <a href="">Políticas de privacidad</a>
                  <a href="">Términos y condiciones</a>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="footer__content">
                  <h3>Comprar</h3>
                  <a href="">Cómo pujar</a>
                  <a href="">Buenas prácticas</a>
              </div>
              <div class="footer__content">
                  <h3>Vender</h3>
                  <a href="">Cómo subastar</a>
                  <a href="">Consejos para tus fotos</a>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="footer__content">
                  <h3>Mi cuenta</h3>
                  <a href="/auth/login">Iniciar sesión</a>
                  <a href="/auth/register">Regístrate gratis</a>
              </div>
              <div class="footer__content">
                  <h3>Mi catálogo</h3>
                  <a href="">Mi catálogo</a>
                  <a href="">Mis pendientes</a>
              </div>
          </div>
      </div>
  </div>
</footer>
