<div class="row ">
  <div class="col-lg-6">
    <app-solicitud-patials (activePage)="backPage($event)" [back]="true"></app-solicitud-patials>
  </div>
  <div class="col-lg-6 p-0" >
    <div class="formulario__img" style="background-image: url(../assets/img/bg/bg-registrate.png);" >
        <div class="formulario__img__content formulario__img__content--botom">
            <div>
                <h2 class="titulo titulo--mediano">¿Tienes un catalogo?</h2>
                <p>¡Contacte con nosotros! envíanos los datos del catalogo, nosotros lo analizaremos</p>
            </div>
        </div>
    </div>
</div>
  
</div>