<form class="row needs-validation" [formGroup]="form" (ngSubmit)="registrar()">
  <div class="col-lg-6">
 
      <div class="dashboard__contenido__formulario">
          <h2 class="titulo titulo--chico">Registrar Petición Catálogo</h2>
          <div class="form row">
              <div class="form-group col-lg-12">
                <label for="exampleInputNombre">Tipo Catalogo</label>
                <select  name="nombre" required class="form-control"
                  [ngClass]="{'is-valid':!nombre?.invalid&&(nombre?.dirty||nombre?.touched),'is-invalid':nombre?.invalid&&(nombre?.dirty||nombre?.touched)}"
                  ngModel
                  >
                <option value="scott">Scott</option>
                <option value="michel">Michel</option>
                <option value="yvert">Yvert</option>
              </select>
              
                <div class="invalid-feedback" formControlName="nombre" *ngIf="nombre?.invalid&&(nombre?.dirty||nombre?.touched)">
                  <div *ngIf="nombre?.errors?.required">Nombre de catalogo requerido</div>
                  <div *ngIf="nombre?.errors?.minlength">El mínimo es de 5 caracteres </div>
                </div>
              </div>
              <div class="form-group col-lg-12">
                  <label for="exampleInputPais">Pais</label>
                  <input  [formControl]="paisValue" type="text" formControlName="pais"  class="form-control" [ngClass]="{'is-valid':!pais?.invalid&&(pais?.dirty||pais?.touched),'is-invalid':pais?.invalid&&(pais?.dirty||pais?.touched)}" ngModel>
                  <app-search-paises [pais]="pais"  (select)="select($event)"></app-search-paises>
                  <div class="invalid-feedback" *ngIf="pais?.invalid&&(pais?.dirty||pais?.touched)">
                      <div *ngIf="pais?.errors?.required">Pais es requerido</div>
                      <div *ngIf="pais?.errors?.minlength">El mínimo es de 3 caracteres  </div>
                  </div>
              </div>
              <div class="form-group col-lg-12">
                <label for="exampleInputValor">Valor Catalogo</label>
                <input name="valor" type="text" formControlName="valor" class="form-control"
                [ngClass]="{'is-valid':!valor?.invalid&&(valor?.dirty||valor?.touched),'is-invalid':valor?.invalid&&(valor?.dirty||valor?.touched)}"
                ngModel
                >
                <div class="invalid-feedback" *ngIf="valor?.invalid&&(valor?.dirty||valor?.touched)">
                    <div *ngIf="valor?.errors?.required">Valor requerido</div>
                </div>
              </div>
                <div class="col-lg-12">
                    <div *ngIf="response?.msg" class="text-center">
                        <span [ngClass]="{'text-primary':response.ok,'text-danger':!response.ok}">
                            {{response.msg}}
                        </span>
                    </div>
                </div>
              <div class="col-lg-12">
                  <button type="submit"  [disabled]="response.loading" class="btn btn--linea">
                    {{(response.loading) ? 'Cargando.....' : 'Enviar Petición'}}
                    <div class="spinner-border text-primary" role="status" *ngIf="response.loading">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </button>
              </div>
              <div class="col-lg-12 m-t-5" style="margin-top: 10px;">
                <button type="button" class="btn btn--linea" (click)="backPage()">
                    Regresar
                </button>
            </div>
          </div>
      </div>
  </div>
  <div class="col-lg-6 p-0" >
    <div class="formulario__img" style="background-image: url(../assets/img/bg/bg-registrate.png);" *ngIf="dataCatalogo.length==0;">
        <div class="formulario__img__content formulario__img__content--botom">
            <div>
                <h2 class="titulo titulo--mediano">¿Tienes un catalogo?</h2>
                <p>¡Contacte con nosotros! envíanos los datos del catalogo, nosotros lo analizaremos</p>
            </div>
        </div>
    </div>
</div>
  
</form>