
.container-catalogo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    flex-wrap: wrap;
    &-item{
        position: relative;
        background-color: #f2f2f2;
        width: 100%;
        border-radius: 15px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        min-width: 300px;
        
    }
}
.catalogo-btn{
    margin: 30px auto;
}
.catalogo-letter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 10px;
    &-estado{
        position: absolute;
        top: 10px;
        left: 10px;
        font-weight: bold;
        font-size: 1.2rem;
        .danger{
            color: #dc3545 ;
        }
        .succsess{
            color: #28a745;
        }
        .warning{
            color: #f0ad4e;
        }
    }
    .catalogo-title{
        font-weight: bold;
        margin-right: 20px;

    }
}
.btn-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    .btn{
        margin: 5px;
        min-width: 150px;
        max-width: 250px;
        &.danger{
            border-color: #dc3545;
        }
    }
}