@media (max-width: 1920px){
    .formulario{
        &__content{
            padding: 30px 121px 30px 121px;
            &__form{
                margin-top: 0;
                form{
                    span{
                        text-align: right;
                        display: block; 
                        margin-top: 18px;
                        line-height: 39px;               
                    } 
                    .btn{
                        margin-top: 25px;
                        min-width: auto;                 
                        width: 100%;
                    }
                    .form{                   
                        &-group{
                             margin-bottom: 1.3rem;
                             label{
                                 color: $plomoOscuro;
                                 font-size: 1.2rem;
                                 font-family: $DMregular;
                             }
                             input{
                                 height: 40px;
                                 border-radius: 0;
                                 color: $negro;
                                 font-family: $lato;
                                 padding: 15px;
                                 font-size: 22px;
                                 border:1px solid $plomo;
                                 &:focus{
                                     border-color:$negro;
                                     box-shadow:0 0 0 0.2rem rgba(44, 44, 44, 0.19);
                                 }
                             }
                        }
                    }  
                }
            }
            p{
               font-size: 1.5rem;            
               margin-top: 16px;
               line-height: 48px;
               margin-bottom: 39px;
               font-family: $DMregular;
            }
            span{
                color: #9B9696;
                font-family: $DMregular;
                font-size: 1rem;
                line-height: 34px;
                width: 97%;
                display: block;
                a{
                    color: $negro;
                }
            }
        }
        &__img{
            width: 100%;
            background-position: center;
            height: 98vh;
            position: relative;
            background-size: cover;    
            /*&:before{
                content: "";
                width: 100%;
                height: 60%;
                bottom: 0;
                position: absolute;
                background: transparent linear-gradient(180deg, #F8EA8300 0%, #FEF7A7 100%) 0% 0% no-repeat padding-box;
            }*/
            &__content{
                position: absolute;
                &--botom{
                    bottom: 3rem;
                    width: 79%;
                    left: 2.5rem;
                    p{
                        font-size: 35px;
                        font-family: $DMregular;
                        color: $negro;
                        margin-top: 23px;
                        line-height: 48px;
                        width: 90%;
                    }
                }
                &--top{
                    top:3.8rem;
                    width: 79%;
                    left: 2.5rem;
                    p{
                        font-size: 1.5rem;
                        font-family: $DMregular;
                        color: $negro;
                        margin-top: 23px;
                        line-height: 48px;
                        width: 90%;
                    }
                }
            }
        }
    }

    .formulariologin{
        &__content{
            padding: 30px 121px 30px 121px;
            &__form{
                margin-top: 0;
                form{
                    span{
                        text-align: right;
                        display: block; 
                        margin-top: 18px;
                        line-height: 39px;               
                    } 
                    .btn{
                        margin-top: 25px;
                        min-width: auto;                 
                        width: 100%;
                    }
                    .form{                   
                        &-group{
                             margin-bottom: 1.3rem;
                             label{
                                 color: $plomoOscuro;
                                 font-size: 1.2rem;
                                 font-family: $DMregular;
                             }
                             input{
                                 height: 40px;
                                 border-radius: 0;
                                 color: $negro;
                                 font-family: $lato;
                                 padding: 15px;
                                 font-size: 22px;
                                 border:1px solid $plomo;
                                 &:focus{
                                     border-color:$negro;
                                     box-shadow:0 0 0 0.2rem rgba(44, 44, 44, 0.19);
                                 }
                             }
                        }
                    }  
                }
            }
            p{
               font-size: 1.3rem;            
               margin-top: 13px;
               line-height: 32px;
               margin-bottom: 39px;
               font-family: $DMregular;
            }
            span{
                color: #9B9696;
                font-family: $DMregular;
                font-size: 1rem;
                line-height: 34px;
                width: 97%;
                display: block;
                a{
                    color: $negro;
                }
            }
        }
        &__img{
            width: 100%;
            background-position: center;
            height: 98vh;
            position: relative;
            background-size: cover;    
            /*&:before{
                content: "";
                width: 100%;
                height: 60%;
                bottom: 0;
                position: absolute;
                background: transparent linear-gradient(180deg, #F8EA8300 0%, #FEF7A7 100%) 0% 0% no-repeat padding-box;
            }*/
            &__content{
                position: absolute;
                &--botom{
                    bottom: 3rem;
                    width: 79%;
                    left: 2.5rem;
                    p{
                        font-size: 35px;
                        font-family: $DMregular;
                        color: $negro;
                        margin-top: 23px;
                        line-height: 48px;
                        width: 90%;
                    }
                }
                &--top{
                    top:3.8rem;
                    width: 79%;
                    left: 2.5rem;
                    p{
                        font-size: 1.5rem;
                        font-family: $DMregular;
                        color: $negro;
                        margin-top: 23px;
                        line-height: 32px;
                        width: 90%;
                    }
                }
            }
        }
    }
    
    .formulariocontacts{
        margin-top: 8rem;
        &__content{
            padding: 30px 121px 30px 121px;
           // margin-top: 8rem;
            &__form{
                margin-top: 0;
                form{
                    span{
                        text-align: right;
                        display: block; 
                        margin-top: 18px;
                        line-height: 39px;               
                    } 
                    h1{
                        font-family: Arial, Helvetica, sans-serif;             
                    } 
                    .btn{
                        margin-top: 25px;
                        min-width: auto;                 
                        width: 100%;
                    }
                    .form{                   
                        &-group{
                             margin-bottom: 1.3rem;
                             label{
                                 color: $plomoOscuro;
                                 font-size: 1.2rem;
                                 font-family: $DMregular;
                             }
                             input{
                                 height: 40px;
                                 border-radius: 0;
                                 color: $negro;
                                 font-family: $lato;
                                 padding: 15px;
                                 font-size: 22px;
                                 border:1px solid $plomo;
                                 &:focus{
                                     border-color:$negro;
                                     box-shadow:0 0 0 0.2rem rgba(44, 44, 44, 0.19);
                                 }
                             }
                        }
                    } 
                }
            }
            p{
               font-size: 1.5rem;            
               margin-top: 16px;
               line-height: 32px;
               margin-bottom: 39px;
               font-family: $DMregular;
            }
            span{
                color: #9B9696;
                font-family: $DMregular;
                font-size: 1rem;
                line-height: 34px;
                width: 97%;
                display: block;
                a{
                    color: $negro;
                }
            }
        }
        &__img{
            margin-top: -2rem;
            width: 100%;
            background-position: center;
            height: 98vh;
            position: relative;
            background-size: cover;  
              
            /*&:before{
                content: "";
                width: 100%;
                height: 60%;
                bottom: 0;
                position: absolute;
                background: transparent linear-gradient(180deg, #F8EA8300 0%, #FEF7A7 100%) 0% 0% no-repeat padding-box;
            }*/
            &__content{
                position: absolute;
                &--botom{
                    bottom: 3rem;
                    width: 79%;
                    left: 2.5rem;
                    p{
                        font-size: 35px;
                        font-family: $DMregular;
                        color: $negro;
                        margin-top: 23px;
                        line-height: 32px;
                        width: 90%;
                    }
                }
                &--top{
                    top:3.8rem;
                    width: 79%;
                    left: 2.5rem;
                    p{
                        font-size: 1.5rem;
                        font-family: $DMregular;
                        color: $negro;
                        margin-top: 2.5rem;
                        line-height: 32px;
                        width: 90%;
                    }
                }
            }
        }
    }
    .formularioregister{
        &__content{
            padding: 30px 121px 30px 121px;
            &__form{
                margin-top: 0;
                form{
                    span{
                        text-align: left;
                        display: block; 
                        margin-top: 18px;
                        line-height: 18px;  
                        margin-bottom: 48px;              
                    } 
                    h1{
                        font-family: Arial, Helvetica, sans-serif;  
                        text-decoration: underline;           
                    } 
                    .btn{
                        margin-top: 25px;
                        min-width: auto;                 
                        width: 100%;
                    }
                   .form{                   
                       &-group{
                            margin-bottom: 1.3rem;
                            label{
                                color: $plomoOscuro;
                                font-size: 1.2rem;
                                font-family: $DMregular;
                            }
                            input{
                                height: 40px;
                                border-radius: 0;
                                color: $negro;
                                font-family: $lato;
                                padding: 15px;
                                font-size: 22px;
                                border:1px solid $plomo;
                                &:focus{
                                    border-color:$negro;
                                    box-shadow:0 0 0 0.2rem rgba(44, 44, 44, 0.19);
                                }
                            }
                       }
                   } 
                }
            }
            p{
               font-size: 1.5rem;            
               margin-top: 16px;
               line-height: 32px;
               margin-bottom: 39px;
               font-family: $DMregular;
            }
            span{
                color: #9B9696;
                font-family: $DMregular;
                font-size: 1rem;
                line-height: 34px;
                width: 97%;
                display: block;
                a{
                    color: $negro;
                    text-decoration: underline; 
                    font-weight:bold; 
                }
                
            }
        }
        &__img{
            width: 100%;
            background-position: center;
            height: 98vh;
            position: relative;
            background-size: cover;    
            /*&:before{
                content: "";
                width: 100%;
                height: 60%;
                bottom: 0;
                position: absolute;
                background: transparent linear-gradient(180deg, #F8EA8300 0%, #FEF7A7 100%) 0% 0% no-repeat padding-box;
            }*/
            &__content{
                position: absolute;
                &--botom{
                    bottom: 3rem;
                    width: 79%;
                    left: 2.5rem;
                    p{
                        font-size: 35px;
                        font-family: $DMregular;
                        color: $negro;
                        margin-top: 23px;
                        line-height: 32px;
                        width: 90%;
                    }
                }
                &--top{
                    top:3.8rem;
                    width: 79%;
                    left: 2.5rem;
                    p{
                        font-size: 1.5rem;
                        font-family: $DMregular;
                        color: $negro;
                        margin-top: 2.5rem;
                        line-height: 32px;
                        width: 90%;
                    }
                }
            }
        }
    }
    
    .hide{
        display: none;
    }
    .show{
        display: block !important;
    }
    .content-more{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 10px;
        .item-more{
            padding: 6px;
            margin: 5px 10px;
            background-color: #f5f2f2;
            border-radius: 17px;
            min-width: 100px;
            text-align: center;
            font-weight: bold;
            position: relative;
            box-shadow: 0 2px 5px 2px rgb(0 0 0 / 15%);
        }
        .delete-more{
            cursor: pointer;
            position: absolute;
            top: -10px;
            border: 0;
            right: 0;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            line-height: 20px;
            font-size: 25px;
            font-weight: bold;
            background-color: transparent;
            color: #dc3545;
            &:focus{
                opacity: 0.5;
            }
            &:hover{
                opacity: 0.5;
            }
        }
    }
    }