<div class="text-center">
      <h3>Bandeja de Peticiones</h3>
</div>
<div class="row">    
     
    <div class="col-lg-12 m-auto">
        <table class="table table--normal">  
            <thead>
              <tr>
                <th>Nombre de catalogo</th> 
                <th>Tipo</th>  
                <th>P/T</th>  
                <th>Cliente</th> 
                <th>
                  <select  [(ngModel)]="estado" (change)="searchStatus()">
                      <option value="" selected>Estado</option>
                      <option value="EACE1">Pendiente</option>
                      <option value="ACE1">Esperando catalgo</option>
                      <option value="EACE2">Para publicar</option>
                      <option value="ACE2">Publicado</option>
                      <option value="RCE">Rechazado</option>
                  </select>
                </th>                  
                <th></th>                  
              </tr>
            </thead>
            <tbody *ngFor="let data of dataCatalogo">
              <tr *ngIf="!data.tipoEstadoSolicitud_id.name.includes('Rechazado')">
                <td style="width:20%;"> {{data.catalogo_nombre_interno}}</td>  
                <td style="width:10%;">{{data.tipo_catalogo.name||''}}</td>  
                <td style="width:15%;">
                  <span *ngIf="data.pais">
                    Pais:
                    {{data.pais.name||''}}
                  </span>
                  <span *ngIf="data.tema">
                    Tema:
                    {{data.tema.name||''}}
                  </span>
                </td>  
                <td>{{data.usuario_id.name}}</td>    
                <td>{{data.tipoEstadoSolicitud_id.name}}</td>  
                <td class="editar">
                  <div *ngIf="data.tipoEstadoSolicitud_id.abreviacion=='EACE1'; else viewpublic">
                    <a (click)="validar(data.uid,'accept')" href="javascript:void(0)" class="btn-table-rad success">
                      aceptar
                    </a>
                    <a href="javascript:void(0)" (click)="validar(data.uid,'')" (click)="openVerticallyCentered(content)" class="btn-table-rad danger ">
                      rechazar
                    </a>
                  </div>
                  <ng-template #viewpublic>
                    <a href="javascript:void(0)" (click)="viewCatalog(data.uid)" class="btn-table-rad info" >
                        Ver
                    </a>
                    <a *ngIf="data.tipoEstadoSolicitud_id.abreviacion=='EACE2'" (click)="validar(data.uid,'accept')" href="javascript:void(0)" class="btn-table-rad success">
                      aceptar
                    </a>
                    <a *ngIf="data.tipoEstadoSolicitud_id.abreviacion=='EACE2'||data.tipoEstadoSolicitud_id.abreviacion=='ACE2'||data.tipoEstadoSolicitud_id.abreviacion=='EACE2'" href="javascript:void(0)" (click)="validar(data.uid,'')" (click)="openVerticallyCentered(content)" class="btn-table-rad danger ">
                      rechazar
                    </a>
                  </ng-template>
              </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>


<ng-template #content let-modal ngClass="modal__admin">
    <div class="modal-header">
      <h4 class="modal-title">Razon del rechazo</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="row" [formGroup]="form" (ngSubmit)="validar(-1,'dennied')">
          <div class="form-group col-lg-12">
            <label for="">Mensaje</label>
            <input type="text" formControlName="message" required name="message" class="form-control" ngModel>
          </div> 
         <div class="text-center" style="    width: 100%;">
          <button type="submit" class="btn btn--negro" (click)="modal.close('Close click')">Enviar rechazo</button>      
         </div>
      </form>
    </div>
  </ng-template>

  <ng-template #content let-modal ngClass="modal__admin">
    <div class="modal-header">
      <h4 class="modal-title">Detalle Usuario</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="row">
       
          <div class="form-group col-lg-12">
            <label for="">Foto usuario</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group col-lg-12">
            <label for="">Nombre y Apellidos del usuario</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group col-lg-12">
            <label for="">Email</label>
            <input type="text" class="form-control">
          </div>   
          <div class="form-group col-lg-12">
            <label for="">Reputación</label>
            <input type="text" class="form-control">
          </div>  
          <div class="form-group col-lg-12">
            <label for="">Tabla de Catalogos</label>
            <input type="text" class="form-control">
          </div>       
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn--negro" (click)="modal.close('Close click')">Guardar</button>
    </div>
  </ng-template>

<!--<button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">Modal vertically centered</button>-->
