
<div class="dashboard__contenido2">
<form class="row">
  <!-- /admin/dashboard/ajustes-admin/pagos -->
    <div class="col-lg-6">
        <div class="col-lg-6">
        <div class="dashboard__color__nombre">
            <a href="javascript:void(0)" class="boton">
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve">
                  <g>
                      <polygon points="79.093,0 48.907,30.187 146.72,128 48.907,225.813 79.093,256 207.093,128 		"/>
                  </g>
              </svg>
  
      </a>
      <h2 class="titulo titulo--mediano2">Volver a Pagos </h2>
  </div>
        </div>
        
        <div class="dashboard__contenido__formulario">
            <h2 class="titulo titulo--chico">Paypal Estandar</h2>
            <div class="form row">
                <div class="form-group col-lg-12">
                  <label for="exampleInputEmail1">Titulo</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group col-lg-12">
                  <label for="exampleInputPassword1">Descripción</label>
                  <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group col-lg-12">
                    <label for="">Correo Paypal</label>
                    <input type="text" class="form-control" id="exampleCheck1">
                  </div>
                <div class="form-group col-lg-12">
                  <label for="">Correo del receptor</label>
                  <input type="text" class="form-control" id="exampleCheck1">
                </div>
                <div class="form-group col-lg-12">
                    <label for="">Token de identidad Paypal</label>
                    <input type="text" class="form-control" id="exampleCheck1">
                  </div>
                  <div class="form-group col-lg-12">
                    <label for="">Prefijo de factura</label>
                    <input type="text" class="form-control" id="exampleCheck1">
                  </div>
                  <div class="form-group col-lg-12">
                    <label for="">Detalle de envío</label>
                  </div>
                  <div class="form-group col-lg-1">
                    <input type="checkbox"> 
                  </div>
                  <div class="form-group col-lg-11">
                    Envíar los datos de envío a Paypal en lugar de los datos de facturación
                  </div>
               
            </div>
            <h2 class="titulo titulo--chico">Credenciales para la Api</h2>
            <div >
                <p class="titulo titulo--chico">Recuerda que las siguientes opciones afectan a como se muestran los precios en la tienda</p>
              </div>
            <div class="form row">
                <div class="form-group col-lg-12">
                  <label for="exampleInputEmail1">Nombre de usuario de la API de producción <title>opcional</title></label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group col-lg-12">
                  <label for="exampleInputPassword1">Contraseña de la API de producción</label>
                  <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group col-lg-12">
                    <label for="">Firma de la API de producción</label>
                    <input type="text" class="form-control" id="exampleCheck1">
                  </div>
               
            </div>

        </div>
        
    </div>
    <div class="col-lg-6">
        <div class="dashboard__contenido__formulario">
            <div class="form row">
                <div class="form-group col-lg-12">
                    <label for="">Entorno de pruebas Paypal</label>
                  </div>
                  <div class="form-group col-lg-1">
                    <input type="checkbox"> 
                  </div>
                  <div class="form-group col-lg-11">
                    Activar entorno de pruebas
                  </div>
                  <div class="form-group col-lg-12">
                    <label for="">Registro de depuración</label>
                  </div>
                  <div class="form-group col-lg-2">
                    <input type="checkbox"> 
                  </div>
                  <div class="form-group col-lg-10">
                    Permitir registro
                  </div>
                  <div class="form-group col-lg-12">
                    <label for="">Avisos por correo electrónico</label>
                  </div>
                  <div class="form-group col-lg-1">
                    <input type="checkbox"> 
                  </div>
                  <div class="form-group col-lg-11">
                    Permitir avisos por correo electrónico
                  </div>
                <div class="form-group col-lg-12">
                  <label for="exampleInputaccion">Accion de Pago</label>
                  <select class="form-control pesquisa__select col-12 selectCustom">
                    <option>Captura</option>
                    <option>teste 02</option>
                    <option>teste 03</option>
                  </select> 
                </div>
                <div class="form-group col-lg-12">
                  <label for="">Estilo de Pagina</label>
                  <input type="text" class="form-control" id="exampleCheck1">
                </div>
                <div class="form-group col-lg-12">
                    <label for="">URL de la imagen</label>
                    <input type="text" class="form-control" id="exampleCheck1">
                </div>
                
            </div>
        </div>
    </div>
   
</form>

</div>

