<div class="row">    
    <div class="col-lg-10 m-auto">
        <a  href="javascript:void(0)" (click)="openVerticallyCentered(content)" class="mainAdmin__boton">
            <div class="icono">
                <svg height="426.66667pt" viewBox="0 0 426.66667 426.66667" width="426.66667pt" xmlns="http://www.w3.org/2000/svg"><path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"/></svg>
            </div>
            <h3>Nuevo país</h3>
        </a>
        <table class="table table--normal">  
            <thead>
              <tr>
                <th scope="col">Imagen</th>
                <th>Nombre</th> 
                <th>Moneda</th> 
                <th>Abreviatura</th> 
                <th>Estado</th>  
                <th></th>                         
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row"><img src="assets/img/pais/peru.png" class="pais" alt=""></td>
                <td>Mark</td>   
                <td>Mark</td>    
                <td>Mark</td>   
                <td>Mark</td>                              
                <td class="editar">
                    <a href=""><img src="assets/img/iconos/edit.png" alt=""></a>
                    <a href=""><img src="assets/img/iconos/tash.png" alt=""></a>
                </td>
              </tr>
              <tr>
                <td scope="row"><img src="assets/img/pais/peru.png" class="pais" alt=""></td>
                <td>Mark</td>  
                <td>Mark</td>    
                <td>Mark</td>   
                <td>Mark</td>                              
                <td class="editar">
                    <a href=""><img src="assets/img/iconos/edit.png" alt=""></a>
                    <a href=""><img src="assets/img/iconos/tash.png" alt=""></a>
                </td>
              </tr>
              <tr>
                <td scope="row"><img src="assets/img/pais/peru.png" class="pais" alt=""></td>
                <td>Mark</td>  
                <td>Mark</td>    
                <td>Mark</td>   
                <td>Mark</td>                              
                <td class="editar">
                    <a href=""><img src="assets/img/iconos/edit.png" alt=""></a>
                    <a href=""><img src="assets/img/iconos/tash.png" alt=""></a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>


<ng-template #content let-modal ngClass="modal__admin">
    <div class="modal-header">
      <h4 class="modal-title">Nuevo País</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="row">
        <div class="form-group col-lg-12">
            <label for="">Imagen</label>
            <input type="file" class="form-control">
          </div>
          <div class="form-group col-lg-12">
            <label for="">Nombre</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group col-lg-12">
            <label for="">Moneda</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group col-lg-12">
            <label for="">Abreviatura</label>
            <input type="text" class="form-control">
          </div>          
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn--negro" (click)="modal.close('Close click')">Guardar</button>
    </div>
  </ng-template>

<!--<button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">Modal vertically centered</button>-->
