
      <!-- <p>Aquí podrás Crear Nuevos Catalogos</p> -->
<div class="row dashboard__contenido">
  <div class="col-lg-5">
      <app-solicitud-patials ></app-solicitud-patials>
  </div>

  <div class="col-lg-7">
      <!-- <h2 class="titulo titulo--chico text-center">Catálogos</h2> -->
      <div class=" container-catalogo">
          <ng-container *ngFor="let data of dataCatalogo">
              <div class="dashboard__contenido__formulario container-catalogo-item " >
                <div class="catalogo-letter">
                  <div class="catalogo-title">Nombre:</div>
                  <div class="">{{data.name}}</div>
                </div>  
                <div class="catalogo-letter">
                  <div class="catalogo-title">Tipo:</div>
                  <div class="">{{data.tipo_catalogo.name}}</div>
                </div>
                <div class="catalogo-letter" *ngIf="data.pais">
                  <div class="catalogo-title">Pais:</div>
                  <div class="">{{data.pais.name||''}}</div>
                </div>
                <div class="catalogo-letter" *ngIf="data.tema_catalogo">
                  <div class="catalogo-title">Tema:</div>
                  <div class="">{{data.tema_catalogo.name||''}}</div>
                </div>
                <div class="catalogo-letter">
                  <div class="">{{data.solicitud.tipoEstadoSolicitud_id.descripcion}}</div>
                </div>
                <!-- <div class="catalogo-letter-estado">
                  <div class="succsess" *ngIf="data.estado; else estado">Aprobado</div>
                  <ng-template #estado>
                    <div class="warning">Pendiente</div>
                  </ng-template>
                </div> -->
                <!-- <div class="catalogo-letter">
                  <div class="catalogo-title">Fecha:</div>
                  <div class="">data.Fecha</div>
                </div> -->
                <div class="catalogo-btn" *ngIf="data.solicitud.tipoEstadoSolicitud_id.abreviacion=='ACE2'">
                  <a  type="submit" [routerLink]="'/admin/dashboard/catalogo-seleccionado/'+data.uid" class="btn btn--linea">Ver Catalogo </a>

                
                </div>

              </div>
          </ng-container>
          
      </div>
  </div>
</div>