<div class="row">    
    <div class="col-lg-10 m-auto">
      
        <table class="table table--normal">  
            <thead>
              <tr>
                <th>Método</th> 
                <th>Estado</th> 
                <th>Descripción</th> 
                <th></th>                    
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td> Mark</td> 
                <td> Mark</td>    
                <td>Mark</td>   
                <td><a [routerLink]= "['/admin/dashboard/ajustes-admin/configuracion']">Configurar</a></td>      
              </tr>
              <tr>
                
                <td> Mark</td> 
                <td> Mark</td>    
                <td>Mark</td>   
                <td><a [routerLink]= "['/admin/dashboard/ajustes-admin/configuracion']">Configurar</a></td>                              
              </tr>
              <tr>
                <td> Mark</td>  
                <td> Mark</td>    
                <td>Mark</td>   
                <td><a [routerLink]= "['/admin/dashboard/ajustes-admin/configuracion']">Configurar</a></td>    
              </tr>
            </tbody>
          </table>
    </div>
</div>

<!--<button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">Modal vertically centered</button>-->
