<section class="buscadorTop m-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="buscadorTop__migas">
                    <a href="../catalogue" class="boton">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve">
                            <g>
                                <g>
                                    <polygon points="79.093,0 48.907,30.187 146.72,128 48.907,225.813 79.093,256 207.093,128 		"/>
                                </g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            </svg>

                    </a>
                    <h2 class="titulo titulo--mediano">Buscando por</h2>
                    <ul>
                        <li><a href="/catalogo">País</a></li>
                        <li>Perú</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="buscador">
                    <form>
                         <div class="buscador__content">
                             <input type="text">
                             <button><img src="assets/img/iconos/buscador.png" alt=""></button>
                           </div>
                     </form>
                 </div>
            </div>
        </div>
    </div>
</section>
<div class="filtros paisCatalogo">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="filtros__aside">
                    <h2 class="titulo titulo--chico">Años</h2>
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                              <ngb-panel [ngClass]="['owl-vendido','owl-theme']">
                                <ng-template ngbPanelTitle>
                                  <span>1800´s</span>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                  <div class="check">
                                    <input type="checkbox" name="category" id="c_1" class="css-checkbox" />
                                    <label for="c_1" class="css-label">1810</label>
                                  </div>
                                  <div class="check">
                                    <input type="checkbox" name="category" id="c_2" class="css-checkbox" />
                                    <label for="c_2" class="css-label">1811</label>
                                  </div>
                                  <div class="check">
                                    <input type="checkbox" name="category" id="c_3" class="css-checkbox" />
                                    <label for="c_3" class="css-label">1812</label>
                                  </div>
                                  <div class="check">
                                    <input type="checkbox" name="category" id="c_3" class="css-checkbox" />
                                    <label for="c_3" class="css-label">1813</label>
                                  </div>
                                  <div class="check">
                                    <input type="checkbox" name="category" id="c_3" class="css-checkbox" />
                                    <label for="c_3" class="css-label">1814</label>
                                  </div>

                                </ng-template>
                              </ngb-panel>
                              <ngb-panel>
                                <ng-template ngbPanelTitle>
                                  <span>1900 - 1949</span>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                  <div class="check">
                                    <input type="checkbox" name="category" id="c_1" class="css-checkbox" />
                                    <label for="c_1" class="css-label">Álbunes <span>(345)</span></label>
                                  </div>
                                  <div class="check">
                                    <input type="checkbox" name="category" id="c_2" class="css-checkbox" />
                                    <label for="c_2" class="css-label">Accesorios <span>(130)</span></label>
                                  </div>
                                  <div class="check">
                                    <input type="checkbox" name="category" id="c_3" class="css-checkbox" />
                                    <label for="c_3" class="css-label">Estampillas <span>(45)</span></label>
                                  </div>
                                </ng-template>
                              </ngb-panel>
                              <ngb-panel>
                                <ng-template ngbPanelTitle>
                                  <span>1950 -1999</span>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                  <div class="check">
                                    <input type="checkbox" name="category" id="c_1" class="css-checkbox" />
                                    <label for="c_1" class="css-label">Álbunes <span>(345)</span></label>
                                  </div>
                                  <div class="check">
                                    <input type="checkbox" name="category" id="c_2" class="css-checkbox" />
                                    <label for="c_2" class="css-label">Accesorios <span>(130)</span></label>
                                  </div>
                                  <div class="check">
                                    <input type="checkbox" name="category" id="c_3" class="css-checkbox" />
                                    <label for="c_3" class="css-label">Estampillas <span>(45)</span></label>
                                  </div>
                                </ng-template>
                              </ngb-panel>
                              <ngb-panel>
                                <ng-template ngbPanelTitle>
                                  <span>2000´s</span>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                  <div class="check">
                                    <input type="checkbox" name="category" id="c_1" class="css-checkbox" />
                                    <label for="c_1" class="css-label">Álbunes <span>(345)</span></label>
                                  </div>
                                  <div class="check">
                                    <input type="checkbox" name="category" id="c_2" class="css-checkbox" />
                                    <label for="c_2" class="css-label">Accesorios <span>(130)</span></label>
                                  </div>
                                  <div class="check">
                                    <input type="checkbox" name="category" id="c_3" class="css-checkbox" />
                                    <label for="c_3" class="css-label">Estampillas <span>(45)</span></label>
                                  </div>
                                </ng-template>
                              </ngb-panel>
                            </ngb-accordion>
                          </div>
                      </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="filtros__contenido">
                    <div class="row">
                        <div class="col-lg-12 pr-0">
                            <div class="bannerNegro">
                                <div class="row">
                                    <div class="col-lg-2 d-flex justify-content-center align-items-center">
                                        <h4>1874 - 1875</h4>
                                    </div>
                                    <div class="col-lg-7 d-flex align-items-center">
                                        <p>Estampillas déficit grabados</p>
                                    </div>
                                    <div class="col-lg-3 d-flex justify-content-end align-items-center">
                                        <span>4 estampillas</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 pr-0">
                            <div class="filtros__contenido__card">
                                <div class="filtros__contenido__card__top">
                                    <span>1874</span>
                                    <img src="assets/img/pais/card/1.png" alt="">
                                </div>
                                <div class="filtros__contenido__card__center">
                                    <a href="#" class="plus">
                                        <div class="icono">
                                            <div class="icono__border">
                                                <svg height="426.66667pt" viewBox="0 0 426.66667 426.66667" width="426.66667pt" xmlns="http://www.w3.org/2000/svg"><path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"/></svg>
                                            </div>
                                        </div>
                                        <div class="plus__content">

                                        </div>
                                        <p>Añadir a mis mancolistas</p>
                                    </a>
                                </div>
                                <div class="filtros__contenido__card__boton">
                                    <ul>
                                        <li>Postage stamps of the Pacific Steam Navigation</li>
                                        <li>2 Peruvian real</li>
                                        <li>PE 2</li>
                                    </ul>
                                    <a href="" class="link">Ver variantes y errores</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 pr-0">
                            <div class="filtros__contenido__card">
                                <div class="filtros__contenido__card__top">
                                    <span>1874</span>
                                    <img src="assets/img/pais/card/2.png" alt="">
                                </div>
                                <div class="filtros__contenido__card__center">
                                    <a href="#" class="plus">
                                        <div class="icono">
                                            <div class="icono__border">
                                                <svg height="426.66667pt" viewBox="0 0 426.66667 426.66667" width="426.66667pt" xmlns="http://www.w3.org/2000/svg"><path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"/></svg>
                                            </div>
                                        </div>
                                        <div class="plus__content">

                                        </div>
                                        <p>Añadir a mis mancolistas</p>
                                    </a>
                                </div>
                                <div class="filtros__contenido__card__boton">
                                    <ul>
                                        <li>Postage stamps of the Pacific Steam Navigation</li>
                                        <li>2 Peruvian real</li>
                                        <li>PE 2</li>
                                    </ul>
                                    <a href="" class="link">Ver variantes y errores</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 pr-0">
                            <div class="filtros__contenido__card">
                                <div class="filtros__contenido__card__top">
                                    <span>1874</span>
                                    <img src="assets/img/pais/card/1.png" alt="">
                                </div>
                                <div class="filtros__contenido__card__center">
                                    <a href="#" class="plus">
                                        <div class="icono">
                                            <div class="icono__border">
                                                <svg height="426.66667pt" viewBox="0 0 426.66667 426.66667" width="426.66667pt" xmlns="http://www.w3.org/2000/svg"><path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"/></svg>
                                            </div>
                                        </div>
                                        <div class="plus__content">

                                        </div>
                                        <p>Añadir a mis mancolistas</p>
                                    </a>
                                </div>
                                <div class="filtros__contenido__card__boton">
                                    <ul>
                                        <li>Postage stamps of the Pacific Steam Navigation</li>
                                        <li>2 Peruvian real</li>
                                        <li>PE 2</li>
                                    </ul>
                                    <a href="" class="link">Ver variantes y errores</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 pr-0">
                            <div class="filtros__contenido__card">
                                <div class="filtros__contenido__card__top">
                                    <span>1874</span>
                                    <img src="assets/img/pais/card/1.png" alt="">
                                </div>
                                <div class="filtros__contenido__card__center">
                                    <a href="#" class="plus">
                                        <div class="icono">
                                            <div class="icono__border">
                                                <svg height="426.66667pt" viewBox="0 0 426.66667 426.66667" width="426.66667pt" xmlns="http://www.w3.org/2000/svg"><path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"/></svg>
                                            </div>
                                        </div>
                                        <div class="plus__content">

                                        </div>
                                        <p>Añadir a mis mancolistas</p>
                                    </a>
                                </div>
                                <div class="filtros__contenido__card__boton">
                                    <ul>
                                        <li>Postage stamps of the Pacific Steam Navigation</li>
                                        <li>2 Peruvian real</li>
                                        <li>PE 2</li>
                                    </ul>
                                    <a href="" class="link">Ver variantes y errores</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <p class="parrafo parrafo--mediano">La “Pacific Steam Navigation Co.” le dio estas estampillas al gobierno del Perú de manera que pudiera probar un pre-pago de servicio postal a través de estampillas</p>
                        </div>
                    </div>
                </div>
                <div class="filtros__contenido filtros__contenido--marginT">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-12 pr-0">
                            <div class="bannerNegro">
                                <div class="row">
                                    <div class="col-lg-2 d-flex justify-content-center align-items-center">
                                        <h4>1874 - 1875</h4>
                                    </div>
                                    <div class="col-lg-7 d-flex align-items-center">
                                        <p>Estampillas déficit grabados</p>
                                    </div>
                                    <div class="col-lg-3 d-flex justify-content-end align-items-center">
                                        <span>4 estampillas</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 pr-0">
                            <div class="filtros__contenido__card">
                                <div class="filtros__contenido__card__top">
                                    <span>1874</span>
                                    <img src="assets/img/pais/card/1.png" alt="">
                                </div>
                                <div class="filtros__contenido__card__center">
                                    <a href="#" class="plus">
                                        <div class="icono">
                                            <div class="icono__border">
                                                <svg height="426.66667pt" viewBox="0 0 426.66667 426.66667" width="426.66667pt" xmlns="http://www.w3.org/2000/svg"><path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"/></svg>
                                            </div>
                                        </div>
                                        <div class="plus__content">

                                        </div>
                                        <p>Añadir a mis mancolistas</p>
                                    </a>
                                </div>
                                <div class="filtros__contenido__card__boton">
                                    <ul>
                                        <li>Postage stamps of the Pacific Steam Navigation</li>
                                        <li>2 Peruvian real</li>
                                        <li>PE 2</li>
                                    </ul>
                                    <a href="" class="link">Ver variantes y errores</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 pr-0">
                            <div class="filtros__contenido__card">
                                <div class="filtros__contenido__card__top">
                                    <span>1874</span>
                                    <img src="assets/img/pais/card/1.png" alt="">
                                </div>
                                <div class="filtros__contenido__card__center">
                                    <a href="#" class="plus">
                                        <div class="icono">
                                            <div class="icono__border">
                                                <svg height="426.66667pt" viewBox="0 0 426.66667 426.66667" width="426.66667pt" xmlns="http://www.w3.org/2000/svg"><path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"/></svg>
                                            </div>
                                        </div>
                                        <div class="plus__content">

                                        </div>
                                        <p>Añadir a mis mancolistas</p>
                                    </a>
                                </div>
                                <div class="filtros__contenido__card__boton">
                                    <ul>
                                        <li>Postage stamps of the Pacific Steam Navigation</li>
                                        <li>2 Peruvian real</li>
                                        <li>PE 2</li>
                                    </ul>
                                    <a href="" class="link">Ver variantes y errores</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 pr-0">
                            <div class="filtros__contenido__card">
                                <div class="filtros__contenido__card__top">
                                    <span>1874</span>
                                    <img src="assets/img/pais/card/1.png" alt="">
                                </div>
                                <div class="filtros__contenido__card__center">
                                    <a href="#" class="plus">
                                        <div class="icono">
                                            <div class="icono__border">
                                                <svg height="426.66667pt" viewBox="0 0 426.66667 426.66667" width="426.66667pt" xmlns="http://www.w3.org/2000/svg"><path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"/></svg>
                                            </div>
                                        </div>
                                        <div class="plus__content">

                                        </div>
                                        <p>Añadir a mis mancolistas</p>
                                    </a>
                                </div>
                                <div class="filtros__contenido__card__boton">
                                    <ul>
                                        <li>Postage stamps of the Pacific Steam Navigation</li>
                                        <li>2 Peruvian real</li>
                                        <li>PE 2</li>
                                    </ul>
                                    <a href="" class="link">Ver variantes y errores</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 pr-0">
                            <div class="filtros__contenido__card">
                                <div class="filtros__contenido__card__top">
                                    <span>1874</span>
                                    <img src="assets/img/pais/card/1.png" alt="">
                                </div>
                                <div class="filtros__contenido__card__center">
                                    <a href="#" class="plus">
                                        <div class="icono">
                                            <div class="icono__border">
                                                <svg height="426.66667pt" viewBox="0 0 426.66667 426.66667" width="426.66667pt" xmlns="http://www.w3.org/2000/svg"><path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"/></svg>
                                            </div>
                                        </div>
                                        <div class="plus__content">

                                        </div>
                                        <p>Añadir a mis mancolistas</p>
                                    </a>
                                </div>
                                <div class="filtros__contenido__card__boton">
                                    <ul>
                                        <li>Postage stamps of the Pacific Steam Navigation</li>
                                        <li>2 Peruvian real</li>
                                        <li>PE 2</li>
                                    </ul>
                                    <a href="" class="link">Ver variantes y errores</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 pr-0">
                            <div class="filtros__contenido__card">
                                <div class="filtros__contenido__card__top">
                                    <span>1874</span>
                                    <img src="assets/img/pais/card/1.png" alt="">
                                </div>
                                <div class="filtros__contenido__card__center">
                                    <a href="#" class="plus">
                                        <div class="icono">
                                            <div class="icono__border">
                                                <svg height="426.66667pt" viewBox="0 0 426.66667 426.66667" width="426.66667pt" xmlns="http://www.w3.org/2000/svg"><path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"/></svg>
                                            </div>
                                        </div>
                                        <div class="plus__content">

                                        </div>
                                        <p>Añadir a mis mancolistas</p>
                                    </a>
                                </div>
                                <div class="filtros__contenido__card__boton">
                                    <ul>
                                        <li>Postage stamps of the Pacific Steam Navigation</li>
                                        <li>2 Peruvian real</li>
                                        <li>PE 2</li>
                                    </ul>
                                    <a href="" class="link">Ver variantes y errores</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 pr-0">
                            <div class="filtros__contenido__card">
                                <div class="filtros__contenido__card__top">
                                    <span>1874</span>
                                    <img src="assets/img/pais/card/1.png" alt="">
                                </div>
                                <div class="filtros__contenido__card__center">
                                    <a href="#" class="plus">
                                        <div class="icono">
                                            <div class="icono__border">
                                                <svg height="426.66667pt" viewBox="0 0 426.66667 426.66667" width="426.66667pt" xmlns="http://www.w3.org/2000/svg"><path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"/></svg>
                                            </div>
                                        </div>
                                        <div class="plus__content">

                                        </div>
                                        <p>Añadir a mis mancolistas</p>
                                    </a>
                                </div>
                                <div class="filtros__contenido__card__boton">
                                    <ul>
                                        <li>Postage stamps of the Pacific Steam Navigation</li>
                                        <li>2 Peruvian real</li>
                                        <li>PE 2</li>
                                    </ul>
                                    <a href="" class="link">Ver variantes y errores</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 pr-0">
                            <div class="filtros__contenido__card">
                                <div class="filtros__contenido__card__top">
                                    <span>1874</span>
                                    <img src="assets/img/pais/card/1.png" alt="">
                                </div>
                                <div class="filtros__contenido__card__center">
                                    <a href="#" class="plus">
                                        <div class="icono">
                                            <div class="icono__border">
                                                <svg height="426.66667pt" viewBox="0 0 426.66667 426.66667" width="426.66667pt" xmlns="http://www.w3.org/2000/svg"><path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"/></svg>
                                            </div>
                                        </div>
                                        <div class="plus__content">

                                        </div>
                                        <p>Añadir a mis mancolistas</p>
                                    </a>
                                </div>
                                <div class="filtros__contenido__card__boton">
                                    <ul>
                                        <li>Postage stamps of the Pacific Steam Navigation</li>
                                        <li>2 Peruvian real</li>
                                        <li>PE 2</li>
                                    </ul>
                                    <a href="" class="link">Ver variantes y errores</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <p class="parrafo parrafo--mediano mb-5">La “Pacific Steam Navigation Co.” le dio estas estampillas al gobierno del Perú de manera que pudiera probar un pre-pago de servicio postal a través de estampillas</p>
                        </div>
             <!--          <div class="col-lg-12 text-center">
                            <a href="" class="btn btn--negro mt-5">Siguente</a>
                            <ul class="numero">
                                <li>
                                    <a href="" class="activo">1</a>
                                </li>
                                <li>
                                    <a href="">2</a>
                                </li>
                                <li>
                                    <a href="">3...</a>
                                </li>
                                <li>
                                    <a href="">145</a>
                                </li>

                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
