<section class="buscadorTop m-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="buscadorTop__migas">
                    <a routerLink="/catalogo" class="boton">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve">
                                <g>
                                    <polygon points="79.093,0 48.907,30.187 146.72,128 48.907,225.813 79.093,256 207.093,128 		"/>
                                </g>
                            </svg>

                    </a>
                    <h2 class="titulo titulo--mediano">Buscando por</h2>
                    <ul>
                        <li><a routerLink="/catalogo">País</a></li>
                        <li>{{pais.name}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 buscador-container">
                <div class="buscador">
                    <form>
                         <div class="buscador__content">
                             <input type="text">
                             <button><img src="assets/img/iconos/buscador.png" alt=""></button>
                           </div>
                     </form>
                 </div>
            </div>
        </div>
    </div>
</section>
<div class="filtros paisCatalogo">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 container-filter">
                <div class="filtros__aside">
                    <h2 class="titulo titulo--chico">Años</h2>
                    <div class="accordion" id="accordionExample">
                        <div class="card anio-container">
                            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                              <ngb-panel [ngClass]="['owl-vendido','owl-theme']" (shown)="buscarCatalogoAnio(1800,1899)">
                                <ng-template ngbPanelTitle >
                                  <span>1800-1899</span>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                  <div class="check" *ngFor="let item of dataAnioSearch">
                                    <input (change)="searchAnios()" type="checkbox" [(ngModel)]="item.active" [name]="item.Anio" [id]="item.Anio" class="css-checkbox" />
                                    <label [for]="item.Anio" class="css-label">{{item.Anio}}</label>
                                  </div>
                                </ng-template>
                              </ngb-panel>
                              <ngb-panel (shown)="buscarCatalogoAnio(1900,1949)">
                                <ng-template ngbPanelTitle>
                                  <span>1900 - 1949</span>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                  <div class="check">
                                    <input type="checkbox" name="category" id="c_6" class="css-checkbox" />
                                    <label for="c_1" class="css-label">Álbumes <span>(345)</span></label>
                                  </div>
                                  <div class="check">
                                    <input type="checkbox" name="category" id="c_7" class="css-checkbox" />
                                    <label for="c_2" class="css-label">Accesorios <span>(130)</span></label>
                                  </div>
                                  <div class="check">
                                    <input type="checkbox" name="category" id="c_8" class="css-checkbox" />
                                    <label for="c_3" class="css-label">Estampillas <span>(45)</span></label>
                                  </div>
                                </ng-template>
                              </ngb-panel>
                              <ngb-panel  (shown)="buscarCatalogoAnio(1950,1999)">
                                <ng-template ngbPanelTitle >
                                  <span>1950 -1999</span>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                  <div class="check">
                                    <input type="checkbox" name="category" id="c_9" class="css-checkbox" />
                                    <label for="c_1" class="css-label">Álbumes <span>(345)</span></label>
                                  </div>
                                  <div class="check">
                                    <input type="checkbox" name="category" id="c_10" class="css-checkbox" />
                                    <label for="c_2" class="css-label">Accesorios <span>(130)</span></label>
                                  </div>
                                  <div class="check">
                                    <input type="checkbox" name="category" id="c_11" class="css-checkbox" />
                                    <label for="c_3" class="css-label">Estampillas <span>(45)</span></label>
                                  </div>
                                </ng-template>
                              </ngb-panel>
                              <ngb-panel (shown)="buscarCatalogoAnio(2000,-1)">
                                <ng-template ngbPanelTitle>
                                  <span>2000´s</span>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                  <div class="check">
                                    <input type="checkbox" name="category" id="c_12" class="css-checkbox" />
                                    <label for="c_1" class="css-label">Álbumes <span>(345)</span></label>
                                  </div>
                                  <div class="check">
                                    <input type="checkbox" name="category" id="c_13" class="css-checkbox" />
                                    <label for="c_2" class="css-label">Accesorios <span>(130)</span></label>
                                  </div>
                                  <div class="check">
                                    <input type="checkbox" name="category" id="c_14" class="css-checkbox" />
                                    <label for="c_3" class="css-label">Estampillas <span>(45)</span></label>
                                  </div>
                                </ng-template>
                              </ngb-panel>
                            </ngb-accordion>
                          </div>
                      </div>
                </div>
            </div>
            <div class="col-lg-10" >
                
                <div class="filtros__contenido " *ngFor="let catalog of dataCatalog">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-12 pr-0">
                            <div class="bannerNegro">
                                <div class="row">
                                    <div class="col-lg-2 d-flex justify-content-center align-items-center">
                                        <h4>{{catalog.Inicio}} - {{catalog.Final}}</h4>
                                    </div>
                                    <div class="col-lg-7 d-flex align-items-center">
                                        <p>{{catalog.Descripcion_de_la_serie}}</p>
                                    </div>
                                    <div class="col-lg-3 d-flex justify-content-end align-items-center">
                                        <span>{{catalog.Cantidad}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 pr-0 catalogo-item" *ngFor="let data of catalog.data">
                            <div class="filtros__contenido__card">
                                <div class="filtros__contenido__card__top">
                                    <span>{{data.Anio}}</span>
                                    <img [src]="sanitizeImageUrl(api+data.Foto_JPG_800x800_px)" alt="">
                                </div>
                                <div class="filtros__contenido__card__center" *ngIf="isLoggedIn; else btnmanco">
                                    <a href="javascript:void(0)" (click)="modalOpen(data)" (click)="modalManco.openModal()" class="plus">
                                        <div class="icono">
                                            <div class="icono__border">
                                                <svg height="426.66667pt" viewBox="0 0 426.66667 426.66667" width="426.66667pt" xmlns="http://www.w3.org/2000/svg"><path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"/></svg>
                                            </div>
                                        </div>
                                        <div class="plus__content">
            
                                        </div>
                                        <p>Añadir a mis mancolistas</p>
                                    </a>
                                </div>
                                <ng-template #btnmanco>
                                    <br>
                                </ng-template>
                                <div class="filtros__contenido__card__boton">
                                    <ul>
                                        <li>{{data.Descripcion}}</li>
                                        <li>{{data.Valor_Facial}}</li>
                                        <li>{{data.Numero_de_catalogo}}</li>
                                    </ul>
                                    <a routerLink="/catalogo" class="link">Ver variantes y errores</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <p class="parrafo parrafo--mediano">{{catalog.Descripcion}}</p>
                        </div>
                        
                    </div>
                </div>
                <div *ngIf="dataCatalog.length==0" class="text-center">
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                    No se encontró ninguna estampilla
                </div>
            </div>
            <div class="col-lg-12 text-center">
              <a href="" class="btn btn--negro mt-5">Siguente</a>
              <ul class="numero">
                  <li>
                      <a href="" class="activo">1</a>
                  </li>
                  <li>
                      <a href="">2</a>
                  </li>
                  <li>
                      <a href="">3...</a>
                  </li>
                  <li>
                      <a href="">145</a>
                  </li>

              </ul>
          </div>  
        </div>
    </div>
</div>
<app-modal [modal]="dataMancoSelected" #modalManco></app-modal>