<section class="buscadorTop m-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="buscadorTop__migas">
                    <a routerLink="/catalogo" class="boton">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve">
                                <g>
                                    <polygon points="79.093,0 48.907,30.187 146.72,128 48.907,225.813 79.093,256 207.093,128 		"/>
                                </g>
                            </svg>

                    </a>
                    <h2 class="titulo titulo--medianocatalogintern">Buscando por</h2>
                    <ul>
                        <li><a routerLink="/catalogo" style="text-transform: capitalize;">{{params.type}}</a></li>
                        <li >{{pais.name||tema.name}}</li>
                    </ul>
                </div> 
            </div>
            <div class="col-lg-5 buscador-container">
                <div class="buscador">
                    <form (ngSubmit)="buscarCatalogo()">
                         <div class="buscador__content">
                             <input [(ngModel)]="search" type="text">
                             <button type="submit"><img src="assets/img/iconos/buscador.png" alt=""></button>
                           </div>
                     </form>
                 </div>
            </div>
        </div>
    </div>
</section>
<div class="filtros paisCatalogo">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 container-filter">
                <div class="filtros__aside">
                    <h2 class="titulo titulo--chico">Años</h2>
                    <div class="accordion" id="accordionExample">
                        <div class="card anio-container">
                            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                              <ngb-panel [ngClass]="['owl-vendido','owl-theme']" *ngFor="let range of rangeAnio;let i=index" (shown)="buscarCatalogoAnio(i,range.start,range.end)">
                                <ng-template ngbPanelTitle >
                                  <span>{{range.start}}-{{range.end}}</span>
                                </ng-template>
                                <ng-template ngbPanelContent *ngIf="range.active;else stamp">
                                  <div class="check" *ngFor="let item of range.data">
                                    <input (change)="searchAnios(range.data)" type="checkbox" [(ngModel)]="item.active" [name]="item.anio" [id]="item.anio" class="css-checkbox" />
                                    <label [for]="item.anio" class="css-label">{{item.anio}}</label>
                                  </div>
                                </ng-template>
                                <ng-template #stamp>
                                  <ng-template ngbPanelContent>
                                    <!-- <div class="check">
                                      <input type="checkbox" name="category" id="c_6" class="css-checkbox" />
                                      <label for="c_1" class="css-label">Álbumes <span>(345)</span></label>
                                    </div>
                                    <div class="check">
                                      <input type="checkbox" name="category" id="c_7" class="css-checkbox" />
                                      <label for="c_2" class="css-label">Accesorios <span>(130)</span></label>
                                    </div> -->
                                    <div class="check">
                                      <input [disabled]="range.data.length==0" (change)="searchAnioRange(range)" type="checkbox" [(ngModel)]="range.active" [id]="range.start" class="css-checkbox" />
                                      <label [for]="range.start" class="css-label J-text-min">Estampillas <span>({{range.estampillas}})</span></label>
                                    </div>
                                  </ng-template>
                                </ng-template>
                              </ngb-panel>
                            </ngb-accordion>
                          </div>
                      </div>
                </div>
            </div>
            <div class="col-lg-10" >
                
                <div class="filtros__contenido " *ngFor="let catalog of dataCatalog">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-12 pr-0">
                            <div class="bannerNegro">
                                <div class="row">
                                    <div class="col-lg-2 d-flex justify-content-center align-items-center">
                                        <h4>{{catalog.Inicio}} - {{catalog.Final}}</h4>
                                    </div>
                                    <div class="col-lg-4 d-flex align-items-center" [class]="{'col-lg-7':!isLoggedIn}">
                                        <h2>{{catalog.TITULO_DE_LA_SERIE}}</h2>
                                    </div>

                                    <div class="filtros__contenido__card__center"  *ngIf="isLoggedIn">
                                        <a href="javascript:void(0)" (click)="modalOpen(catalog,'all')" (click)="modalManco.openModal()" class="plusinvert">
                                            <div class="icono">
                                                <div class="icono__border">
                                                    <svg height="426.66667pt" viewBox="0 0 426.66667 426.66667" width="426.66667pt" xmlns="http://www.w3.org/2000/svg"><path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"/></svg>
                                                </div>
                                            </div>
                                            <div class="plusinvert__content">
                
                                            </div>
                                            <p>Añadir serie a mi mancolista</p>
                                        </a>
                                    </div>
                                    
                                    <div class="col-lg-3 d-flex justify-content-end align-items-center" >
                                        
                                        <span>{{catalog.Cantidad}} estampillas</span>
                                       
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 pr-0 catalogo-item" *ngFor="let data of catalog.data">
                            <div class="filtros__contenido__card">
                                <div class="filtros__contenido__card__top">
                                    <span>{{data.ANIO}}</span>
                                    <img [src]="sanitizeImageUrl(api+data.FOTO_ESTAMPILLAS.imagen_url||'')" alt="">
                                </div>
                                <div class="filtros__contenido__card__center" *ngIf="isLoggedIn; else btnmanco">
                                    <a href="javascript:void(0)" (click)="modalOpen(data)" (click)="modalManco.openModal()" class="plus">
                                        <div class="icono">
                                            <div class="icono__border">
                                                <svg height="426.66667pt" viewBox="0 0 426.66667 426.66667" width="426.66667pt" xmlns="http://www.w3.org/2000/svg"><path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"/></svg>
                                            </div>
                                        </div>
                                        <div class="plus__content">
            
                                        </div>
                                        <p>Añadir a mis mancolistas</p>
                                    </a>
                                </div>
                                <ng-template #btnmanco>
                                    <br>
                                </ng-template>
                                <div class="filtros__contenido__card__boton">
                                    <ul>
                                        <li>{{data.NRO_ESTAMPILLAS}} {{data.TIPO}}</li>
                                        <li>{{data.DESCRIPCION_ESTAMPILLA}}</li>
                                        <li>{{data.TIPO_MONEDA_VALOR_FACIAL}} {{data.VALOR_FACIAL}}</li>
                                        <li>{{data.VALOR_FACIAL}}</li>
                                        <li>
                                            {{ data.MONEDA_VALOR_CATALOGO_NUEVO_USADO}} {{ data.VALOR_CATALOGO_NUEVO}} - {{ data.VALOR_DEL_CATALOGO_USADO}}
                                        </li>
                                    </ul>
                                    <a routerLink="/catalogo" class="link">Ver variantes y errores</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <p class="parrafo parrafo--mediano">{{catalog.Descripcion}}</p>
                        </div>
                        
                    </div>
                </div>
                <div *ngIf="dataCatalog.length==0" class="text-center">
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                    No se encontró ninguna estampilla
                </div>
                <div class="col-lg-12 text-center" *ngIf="dataCatalog.length!=0">
                    <a *ngIf="current>=1&&current<pages" routerLink="/catalogo-interna/{{buscarPais}}" [queryParams]="{ type: 'pais',page:current+1}" class="btn btn--negro mt-5">Siguiente</a>
                    <ul class="numero">
                        <li *ngIf="pageFirst!==1">
                            ...
                        </li>
                        <ng-container *ngFor="let p of pagesArray;let i=index">
                          <li>
                            <a *ngIf="p.page==current;else page" routerLink="/catalogo-interna/{{buscarPais}}" [queryParams]="{ type: 'pais',page:p.page}" [class]="{'activo':p.page==current}">{{p.page}}</a>
                            <ng-template #page>
                              <a routerLink="/catalogo-interna/{{buscarPais}}" [queryParams]="{ type: 'pais',page:p.page}" [class]="{'activo':p==current}">{{p.page}}</a>
                            </ng-template>
                            
                        </li>
                        <li *ngIf="p.page==(current+2)&&p.page<pages">
                          <a>
                            ...
                          </a>
                        </li>
                        </ng-container>
                        
                        
                    </ul>
                </div>
            </div>
             
        </div>
    </div>
</div>
<app-modal [modal]="dataMancoSelected" #modalManco></app-modal>
<app-message-partials *ngIf="isLoggedIn" [tema]="tema" [pais]="pais"></app-message-partials>