
<section class="formulariologin m-top"> 
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6"> 
                <div class="formulariologin__content">
                    <h2 class="titulo titulo--medianologin">Bienvenido de nuevo</h2>
                    <p *ngIf="!isLoggedIn">Inicia sesión para continuar con tu experiencia.</p>
                    <p *ngIf="isLoggedIn">Usted Inició sesión Correctamente</p>
                    <div class="formulariologin__content__form">
                        <form class="row" [formGroup]="loginForm" *ngIf="!isLoggedIn" (ngSubmit)="onSubmit()" >
                            <div class="form-group col-lg-12">
                                <label for="exampleInputEmail1">Correo electrónico</label>
                                <input  type="email" class="form-control" name="email" formControlName="email" [ngClass]="{'is-valid':!email?.invalid&&(email?.dirty||email?.touched),'is-invalid':email?.invalid&&(email?.dirty||email?.touched)}">
                                <div class="invalid-feedback" *ngIf="email?.invalid&&(email?.dirty||email?.touched)">
                                    <div *ngIf="email?.errors?.required">Correo requerido</div>
                                    <div *ngIf="email?.errors?.minlength; else message_correo" >Minímo es de 6 caracteres </div>
                                    <ng-template #message_correo>
                                        <div *ngIf="email?.errors?.pattern">Correo invalido</div>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="exampleInputPassword1">Contraseña</label>
                                <input type="password" 
                                formControlName="password"
                                class="form-control" 
                                id="password" 
                                name="password"
                                required
                                minlength="6"
                                [ngClass]="{'is-valid':!password?.invalid&&(password?.dirty||password?.touched),'is-invalid':password?.invalid&&(password?.dirty||password?.touched)}"
                                >
                                <div class="invalid-feedback" *ngIf="password?.invalid&&(password?.dirty||password?.touched)">
                                    <div *ngIf="password?.errors?.required">Contraseña de confirmación requerido</div>
                                    <div *ngIf="password?.errors?.minlength">La contraseña mínima es de 6 caracteres </div>
                               </div>

                            </div>
                            <div class="col-lg-12" >
                                <div *ngIf="response?.msg" class="text-center">
                                    <span [ngClass]="{'text-primary':response.ok,'text-danger':!response.ok}">
                                        {{response.msg}}
                                    </span>
                                </div>
                                <button type="submit"  class="btn btn--negro"  [disabled]="response.loading">                                    
                                    {{(response.loading) ? 'Cargando.....' : 'Iniciar sesión'}}
                                </button>
                            </div>
                            <div class="col-lg-12">
                                <span>¿Aún no te registras? <a routerLink="/auth/register">Crea una cuenta</a> </span>
                            </div>
                          </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="formulariologin__img" style="background-image: url(../assets/img/bg/bg-iniciar.png);">
                    <div class="formulariologin__img__content formulariologin__img__content--top">
                        <div>
                            <h2 class="titulo titulo--medianologin">Llega a las personas indicadas en el momento indicado</h2>
                            <p>Comienza a comprar y vender hoy mismo tus colecciones en Filatelia Peruana</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>