@media (max-width: 1920px){
.btn{
    &--negro{

        display: inline-block;
        padding:22px 40px;
        line-height: 30px;
        border-radius: 0;
        min-width: 265px;    
        line-height: 30px;

        background-color: $negro;
        color: $blanco;
        font-family: $prata;
        font-size: 23px;
        border: 1px solid $negro!important;
        background: -webkit-gradient(linear, left top, right top, color-stop(50%,$blanco), color-stop(50%, $negro));
        background: linear-gradient(to right, transparent 50%,  $negro 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        &:hover{
            background-color:transparent;
            text-decoration: none;
            color: $negro;
            background-position: left bottom;
            text-decoration: none;
        }
    }
    &--linea{

        display: inline-block;
        padding:22px 40px;
        line-height: 30px;
        border-radius: 0;
        min-width: 265px;    
        line-height: 30px;

        background-color: transparent;
        color: $negro;
        font-family: $prata;
        font-size: 23px;
        border: 1px solid $negro;        
        background: -webkit-gradient(linear, left top, right top, color-stop(50%,$negro), color-stop(50%, transparent));
        background: linear-gradient(to right, $negro 50%,  transparent 50%);
        background-size: 201% 100%;
        background-position: right bottom;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        &:hover{
            background-color:transparent;
            text-decoration: none;
            color: $blanco;
            background-position: left bottom;
            text-decoration: none;
        }
    }
    &--linea_min_negro{

        display: inline-block;
        padding:22px 40px;
        line-height: 30px;
        border-radius: 0;
        min-width: 12rem;    
        line-height: 0.1rem;

        background-color: $negro;
        color: $blanco;
        font-family: $prata;
        font-size: 15;
        border: 1px solid $negro!important;
        background: -webkit-gradient(linear, left top, right top, color-stop(50%,$blanco), color-stop(50%, $negro));
        background: linear-gradient(to right, transparent 50%,  $negro 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        &:hover{
            background-color:transparent;
            text-decoration: none;
            color: $negro;
            background-position: left bottom;
            text-decoration: none;
        }
    }

    &--linea_min_blanco{

        display: inline-block;
    padding:22px 40px;
    line-height: 30px;
    border-radius: 0;
    min-width: 12rem;    
    line-height: 0.1rem;

        background-color: transparent;
        color: $negro;
        font-family: $prata;
        font-size: 15px;
        border: 1px solid $negro;        
        background: -webkit-gradient(linear, left top, right top, color-stop(50%,$negro), color-stop(50%, transparent));
        background: linear-gradient(to right, $negro 50%,  transparent 50%);
        background-size: 201% 100%;
        background-position: right bottom;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        &:hover{
            background-color:transparent;
            text-decoration: none;
            color: $blanco;
            background-position: left bottom;
            text-decoration: none;
        }
    }
    &--plomo{
        background-color: #F5F2F2;
        color: $negro;
        font-size: 22px;            
        padding: 16px 26px;
        font-family: $lato;
        border: 1px solid  #F5F2F2!important;
        background: -webkit-gradient(linear, left top, right top, color-stop(50%,$blanco), color-stop(50%, #F5F2F2));
        background: linear-gradient(to right, transparent 50%,   #F5F2F2 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        &:hover{
            background-color:transparent;
            text-decoration: none;
            color: $negro;
            border: 1px solid  $negro!important;
            background-position: left bottom;
            text-decoration: none;
        }
    }
}
}