<div>
    <div *ngIf="activePage=='peticion';else view">
        <app-peticioncatalogo-user></app-peticioncatalogo-user>
    </div>
    <ng-template #view>
        <div *ngIf="activePage=='catalog'; else viewupload">
            <div class=" container-catalogo">
                <div class="dashboard__contenido__formulario container-catalogo-item " *ngFor="let data of dataCatalogo">
                      <div class="catalogo-letter">
                        <div class="catalogo-title">Nombre:</div>
                        <div class="">{{data.catalogo_nombre}}</div>
                      </div>
                      <div class="catalogo-letter">
                        <div class="catalogo-title">Pais:</div>
                        <div class="">{{data.pais.name||''}}</div>
                      </div>
                      <div class="catalogo-letter">
                        <div class="catalogo-title">Estado:</div>
                        <div class="">{{data.tipoEstadoSolicitud_id.name}}</div>
                      </div>
                      <!-- <div class="catalogo-letter-estado">
                        <div class="succsess" *ngIf="data.estado; else estado">Aprobado</div>
                        <ng-template #estado>
                          <div class="warning">Pendiente</div>
                        </ng-template>
                      </div> -->
                      <!-- <div class="catalogo-letter">
                        <div class="catalogo-title">Fecha:</div>
                        <div class="">data.Fecha</div>
                      </div> -->
                      <div class="catalogo-btn" *ngIf="data.tipoEstadoSolicitud_id.name.includes('etapa 2');else btnestado">
                        <button  type="submit" (click)="publicCatalog(data)" class="btn btn--linea">Publicar Catalogo </button>
                      </div>
                      <ng-template #btnestado >
                            <button  *ngIf="data.tipoEstadoSolicitud_id.name.includes('Rechazado')" (click)="viewStatus(data.uid)" type="button" class="btn btn--linea">Ver detalles de rechazo </button>
                      </ng-template>
                      
                  </div>
            </div>
        </div>
        <ng-template #viewupload>
            <app-catalogointerno-admin></app-catalogointerno-admin>
        </ng-template>
    </ng-template>
</div>