@import '../../../../assets/styles/variables/variables.scss';
@import '../../../../assets/styles/blocks/titulos/titulos.scss';

.J-header-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .J-btn-link{
        color: black;
        margin: 10px 30px;
        
    }
}
.miniatura{
    height: 50px;
    width: auto;
}
.pointer {
    cursor:pointer 
}
.J-container-checbox{
    height: 60vh;
    overflow-y: auto;
    &-item{
        cursor: pointer;
        margin: 10px;
        
        background-color: #f7f6e9;
        label{
            cursor: pointer;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .img-check{
                width: 20%;
            }
            .img-letters{
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                span{
                    font-weight: bold;
                }
            }
        }
    }
    
}
.J-btn-link{
    display: flex;
    align-items: center;
}
.btn-svg{
    height: 30px;
    width: 30px;
    margin-right: 15px;
}
.alert{
    margin: 5px auto;
}
/* Structure */
table {
    width: 100%;
  }
  
.btn--negro{
    width: 100%;
}
.circle-img{
    width: 70px;
    height: 70px; 
    img{
        width: 70px !important;
        height: 70px !important;

        :hover{
            width: 100% !important;
            height: 100% !important;
            display:none; 
           transition: all .5s;
        }
    }
}
