
<div class="mainAdmin__listado"> </div>
<div class="row">
  <div class="col-lg-4 m-auto">
    
    <div class="dashboard__color__nombre">
            <a [routerLink]="['/admin/dashboard/catalogo-admin']"  class="boton">
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve">
                  <g>
                      <polygon points="79.093,0 48.907,30.187 146.72,128 48.907,225.813 79.093,256 207.093,128 		"/>
                  </g>
              </svg>
  
      </a>
      <h2 class="titulo titulo--mediano2">Volver a Catálogo </h2>
  </div>
    
    <hr>
  </div>
  <div class="col-lg-4 m-auto"></div>
  <div class="col-lg-3 m-auto">
    
    <a href="javascript:void(0)" (click)="openVerticallyCentered(content)" class="mainAdmin__boton">
      
      <div class="icono2">
        <svg height="426.66667pt" viewBox="0 0 426.66667 426.66667" width="426.66667pt"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0" />
        </svg>
      </div>
      <h3 class="titulo--mediano3">Importar</h3>
    </a>
    <br>
    <hr>
  </div>
  
  <div class="col-lg-11 m-auto">
    <div class="shadow p-3 mb-5 bg-body rounded">

      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table--normal">
        <thead>
          <tr>
            <th>Img estampilla</th>
            <th>Pais</th>
            <th>Codigo</th>
            <th>Año</th>
            <th>Tema</th>
            <th>Numero Catálogo</th>
            <th>Tipo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let datos of datos">
            <td> <img width="70px" height="70px" class="rounded-circle" [src]="sanitizeImageUrl(api+datos.Foto_JPG_800x800_px)" /> </td>
            <th> <img title="{{ datos.Pais }}" width="70px" height="70px" class="rounded-circle" [src]="sanitizeImageUrl(api+datos.Pais.img)" /></th>
            <td>{{ datos.Codigo }}</td>
            <td>{{ datos.Anio }}</td>
            <td>{{ datos.Tema.name}}</td>
            <td>{{ datos.Numero_de_catalogo }}</td>
            <td>{{ datos.Tipo}}</td>
            <td> <a class="pointer" (click)="openEditCentered(contenido)"><img src="assets/img/iconos/edit.png" title="Editar"></a> /
              <a class="pointer" name="{{ datos.Codigo }}" id="{{ datos.uid }}"
                (click)="eliminarElemento(Eliminar.id, Eliminar.name)" #Eliminar><img title="Eliminar"
                  src="assets/img/iconos/tash.png" alt=""></a></td>
          </tr>
        </tbody>
      </table>
    
    </div>
  </div>

  




</div>

<!-- modal -->
<ng-template #content let-modal ngClass="modal__admin">
  <div class="modal-header">
    <h4 class="modal-title"  *ngIf="repetidasData.length==0||repetidasData==null; else titleOmitidas">Importar </h4>
    <ng-template style="display: flex;" #titleOmitidas >
      <div>
        Subidos: {{responseExcel.archivos_subidos}}
      </div>
      &nbsp;
      &nbsp;
      <div>
        Faltantes: {{responseExcel.numero_estampillas_repetidas}}
      </div>
    </ng-template>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    
  </div>
  <div class="modal-body">
    <form class="row" *ngIf="repetidasData.length==0||repetidasData==null; else tabOmitidas">
      <div class="form-group col-lg-12">
        <label for="">Subir archivo</label>
        <input (change)="capturarFile($event)" type="file" class="form-control">
      </div>
      <div class="preview-img" *ngIf="previsualizacion">
        <button class="clear-image" type="button" (click)="clearImage()">Clear</button>
        <img [src]="previsualizacion" alt="">
      </div>

      <div class="p-1">
        <small>Se aceptan archivos de tipo .excel</small>
        <!-- <button  (click)="openlistarCentered(conten)" >listar</button> -->
      </div>

    </form>
    <ng-template #tabOmitidas>
        <div  class="J-container-checbox">
          <div class="J-container-checbox-item custom-control custom-checkbox">
            <input class="custom-control-input" [(ngModel)]="selectall" type="checkbox" id="selectall" (change)="selectedAll()"/>
            <label class="custom-control-label" for="selectall">
                Selecionar todo
            </label>
        </div>
          <div class="J-container-checbox-item custom-control custom-checkbox "  *ngFor="let repetidas of repetidasData;let i=index">
              <input class="custom-control-input" type="checkbox" id="{{i}}" [(ngModel)]="repetidas.active"/>
              <label class="custom-control-label" for="{{i}}">
                <div class="img-check">
                    <!-- <img width="70px" height="70px" class="rounded-circle" [src]="sanitizeImageUrl(api+repetidas.Foto_JPG_800x800_px)" alt=""> -->
                    <img width="70px" height="70px" class="rounded-circle" src="/assets/img/pais/card/2.png" alt="">
                    
                </div>
                <div class="img-letters">
                  <div>
                    <span>Codigo:</span>&nbsp;&nbsp;{{repetidas.Codigo}}
                  </div>
                  <div>
                    <span>Año:</span>&nbsp;&nbsp;{{repetidas.Anio}}
                  </div>
                  <div>
                    <span>Descripcion:</span> &nbsp;&nbsp;{{repetidas.Descripcion}}
                  </div>
                  <div>
                    <span>Tipo:</span> &nbsp;&nbsp;{{repetidas.Tipo}}
                  </div>
                </div>
              </label>
          </div>
        </div>
    </ng-template>
  </div>
  <div class="modal-footer">
    <div class="alert alert-info alert-dismissible fade show" *ngIf="responseExcel.msg_visible" role="alert">
      <strong></strong>{{responseExcel.msg}}.
    </div>
    <button *ngIf="repetidasData.length==0||repetidasData==null;else btnOmitidas" type="button" class="btn btn--negro" [disabled]="loading" (click)="subirArchivo()">
      {{(loading) ? 'Cargando.....' : 'Subir Archivo'}}
    </button>
    <ng-template #btnOmitidas>
      <button type="button" class="btn btn--negro" [disabled]="loading" (click)="guardarOmitidas()">
        {{(loading) ? 'Cargando.....' : 'Actualizar seleccionados'}}
      </button>
    </ng-template>
  </div>
</ng-template>

<ng-template #contenido let-modal ngClass="modal__admin">
  <div class="modal-header">
    <h4 class="modal-title">Actualizar </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <div class="modal-body">
    <form class="row">
      <div class="form-group col-lg-12">
        <label for="">Cargar archivo</label>
        <input (change)="capturarFile($event)" type="file" class="form-control">
      </div>
      <div class="preview-img" *ngIf="previsualizacion">
        <button class="clear-image" type="button" (click)="clearImage()">Clear</button>
        <img [src]="previsualizacion" alt="">
      </div>

      <div class="p-1">
        <small>Se aceptan archivos de tipo .excel</small>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn--negro" [disabled]="loading" (click)="editarElemento()">
      {{(loading) ? 'Cargando.....' : 'Actualizar Archivo'}}
    </button>
  </div>


</ng-template>

<ng-template #conten let-modal ngClass="modal__admin">
  <div class="shadow p-3 mb-5 bg-body rounded">

    <table  class="table table--normal">
      <thead>
        <tr>
          
          <th>Codigo</th>
          <th>Img estampilla</th>
          <th>Año</th>
          <th>Tema</th>
          <th>Numero Catálogo</th>
          <th>Tipo</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let datos of datos">

          <td> 
            <input type="checkbox" name="category" id="c_1" class="css-checkbox" />
            <label for="c_1" class="css-label"></label>
           codigo</td>
           <td> <img /> </td>
          <td>año</td>
          <td>nombre</td>
          <td>numero</td>
          <td>tipo</td>
          
        </tr>
      </tbody>
    </table>
  
  </div>

</ng-template>