
<div class="mainAdmin__listado"> </div>
<div class="row">
    <div class="J-header-btn">

      <div class="col-lg-3">
        <div class="dashboard__color__nombre">
            <a (click)="backPage()" href="javascript:void(0)" class="boton">
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve">
                  <g>
                      <polygon points="79.093,0 48.907,30.187 146.72,128 48.907,225.813 79.093,256 207.093,128 		"/>
                  </g>
              </svg>
  
      </a>
      <h2 class="titulo titulo--medianocatalogointernoadmin">Volver a Catálogo </h2>
  </div>
        </div>
  
      <a href="javascript:void(0)" (click)="dataStamp=null" (click)="openVerticallyCentered(ImagenesEstampilla)" class="titulo titulo--medianocatalogointernoadmin2" >
          Agregar estampilla
      </a>
      <a href="javascript:void(0)" (click)="changeAddImage(contenidoImagenes)" class="titulo titulo--medianocatalogointernoadmin2" >
          Agregar imagenes
      </a>
      <a target="_blank" rel="noopener noreferrer" [href]="url+'/reportes/generar-excel/'+id_catalogo"  class="mainAdmin__boton J-btn-link">
        <div class="titulo--mediano3">Descargar excel</div>
      </a>
     
      <a href="javascript:void(0)" (click)="openVerticallyCentered(content)" class="mainAdmin__boton J-btn-link">
        <div class="icono2">
          <svg class="btn-svg" viewBox="0 0 426.66667 426.66667"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0" />
          </svg>
        </div>
        <div class="titulo--mediano3">Importar</div>
      </a>
      

      
    </div>
    <div class="col-lg-11 m-auto">
      <div class="shadow p-3 mb-5 bg-body rounded">
        <table class="table table--normal">
          <thead>
            <tr>
              <th width="15%">Img</th>
              <th width="15%">N° - Tipo</th>
              <th width="30%">Descripción</th>
              <th width="15%">V. facial</th>
              <th width="30%">V. nuevo - Usado </th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody *ngFor="let dato of dataEstampillas">
            <tr>
              <td>
                <div class="circle-img" >
                  <a href="javascript:void(0)" (click)="openIMG(Imagengrande)">
                    <img width="70px" height="70px"  [src]="sanitizeImageUrl(api+dato.FOTO_ESTAMPILLAS?.imagen_url||'')" />
                  </a>
                  
                </div>
              </td>
              <td>{{ dato.NRO_ESTAMPILLAS }} - {{ dato.TIPO }}</td>
              <td>{{ dato.DESCRIPCION_ESTAMPILLA }}</td>
              <td> {{dato.TIPO_MONEDA_VALOR_FACIAL}} {{ dato.VALOR_FACIAL}} </td>
              <td> {{ dato.MONEDA_VALOR_CATALOGO_NUEVO_USADO}} {{ dato.VALOR_CATALOGO_NUEVO}} - {{ dato.VALOR_DEL_CATALOGO_USADO}}</td>
              
              <td class="editar" col-lg-11 m-auto > 
                <a href="javascript:void(0)" (click)="eliminarElemento(dato.uid, dato.NRO_ESTAMPILLAS)" class="col-lg-6">
                  <img src="assets/img/iconos/tash.png" alt="">
                </a>
                <a href="javascript:void(0)" (click)="updateStamp(dato,ImagenesEstampilla)" class="col-lg-6">
                  <img src="assets/img/iconos/edit.png" alt="">
                </a>
              </td>
            </tr>

            <ng-template #Imagengrande let-modal ngClass="modal__admin col-lg-11" >
              <div class="modal-header">
                <img width="100%" height="100%"  [src]="sanitizeImageUrl(api+dato.FOTO_ESTAMPILLAS?.imagen_url||'')" />
                             
            
              </div>
            </ng-template>
          </tbody>
        </table>

      
      </div>
    </div>

  




</div>

<!-- modal -->
<ng-template #content let-modal ngClass="modal__admin">
  <div class="modal-header">
    <h4 class="modal-title"  *ngIf="repetidasData.length==0||repetidasData==null; else titleOmitidas">Importar </h4>
    <ng-template style="display: flex;" #titleOmitidas >
      <div>
        Subidos: {{responseExcel.archivos_subidos}}
      </div>
      &nbsp;
      &nbsp;
      <div>
        Faltantes: {{responseExcel.numero_estampillas_repetidas}}
      </div>
    </ng-template>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    
  </div>
  <div class="modal-body">
    <form class="row" *ngIf="repetidasData.length==0||repetidasData==null; else tabOmitidas">
      <div class="form-group col-lg-12">
        <label for="">Subir archivo</label>
        <input (change)="capturarFile($event)" type="file" class="form-control">
      </div>
      <div class="preview-img" *ngIf="previsualizacion">
        <button class="clear-image" type="button" (click)="clearImage()">Clear</button>
        <img [src]="previsualizacion" alt="">
      </div>

      <div class="p-1">
        <small>Se aceptan archivos de tipo .excel</small>
        <!-- <button  (click)="openlistarCentered(conten)" >listar</button> -->
      </div>

    </form>
    <ng-template #tabOmitidas>
        <div  class="J-container-checbox">
          <div class="J-container-checbox-item custom-control custom-checkbox">
            <input class="custom-control-input" [(ngModel)]="selectall" type="checkbox" id="selectall" (change)="selectedAll()"/>
            <label class="custom-control-label" for="selectall">
                Selecionar todo
            </label>
        </div>
          <div class="J-container-checbox-item custom-control custom-checkbox "  *ngFor="let repetidas of repetidasData;let i=index">
              <input class="custom-control-input" type="checkbox" id="{{i}}" [(ngModel)]="repetidas.active"/>
              <label class="custom-control-label" for="{{i}}">
                <div class="img-check">
                    <!-- <img width="70px" height="70px" class="rounded-circle" [src]="sanitizeImageUrl(api+repetidas.Foto_JPG_800x800_px)" alt=""> -->
                    <img width="70px" height="70px" class="rounded-circle" src="/assets/img/pais/card/2.png" alt="">
                    
                </div>
                <div class="img-letters">
                  <div>
                    <span>Codigo:</span>&nbsp;&nbsp;{{repetidas.Codigo}}
                  </div>
                  <div>
                    <span>Año:</span>&nbsp;&nbsp;{{repetidas.Anio}}
                  </div>
                  <div>
                    <span>Descripcion:</span> &nbsp;&nbsp;{{repetidas.Descripcion}}
                  </div>
                  <div>
                    <span>Tipo:</span> &nbsp;&nbsp;{{repetidas.Tipo}}
                  </div>
                </div>
              </label>
          </div>
        </div>
    </ng-template>
  </div>
  <div class="modal-footer">
    <div class="alert alert-info alert-dismissible fade show" *ngIf="responseExcel.msg_visible" role="alert">
      <strong></strong>{{responseExcel.msg}}.
    </div>
    <button *ngIf="repetidasData.length==0||repetidasData==null;else btnOmitidas" type="button" class="btn btn--negro" [disabled]="loading" (click)="subirArchivo()">
      {{(loading) ? 'Cargando.....' : 'Subir Archivo'}}
      <div class="spinner-border text-light" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
      </div>
    </button>
    <ng-template #btnOmitidas>
      <button type="button" class="btn btn--negro" [disabled]="loading" (click)="guardarOmitidas()">
        {{(loading) ? 'Cargando.....' : 'Actualizar seleccionados'}}
        <div class="spinner-border text-light" role="status" *ngIf="loading">
          <span class="sr-only">Loading...</span>
        </div>
      </button>
    </ng-template>
  </div>
</ng-template>

<ng-template #Imagenes let-modal ngClass="modal__admin">
  <div class="modal-header">
    <h4 class="modal-title">Actualizar </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <div class="modal-body">
    <form class="row">
      <div class="form-group col-lg-12">
        <label for="">Cargar archivo</label>
        <input (change)="capturarFile($event)" type="file" class="form-control">
      </div>
      <div class="preview-img" *ngIf="previsualizacion">
        <button class="clear-image" type="button" (click)="clearImage()">Clear</button>
        <img [src]="previsualizacion" alt="">
      </div>

      <div class="p-1">
        <small>Se aceptan archivos de tipo .excel</small>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn--negro" [disabled]="loading" (click)="editarElemento()">
      {{(loading) ? 'Cargando.....' : 'Actualizar Archivo'}}
    </button>
  </div>
</ng-template>

<ng-template #contenidoImagenes let-modal ngClass="modal__admin">
  <div class="modal-header">
    <h4 class="modal-title">Subir imagenes</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <div class="modal-body">
    <form class="row">
      <div class="form-group col-lg-12">
        <label for="">Cargar imagenes</label>
        <input (change)="addImages($event)" multiple type="file" class="form-control">
      </div>
      <div class="p-1">
        <small>Se aceptan archivos de tipo .png .jpg .jpeg .gif</small>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <div *ngIf="response?.msg" class="text-center">
        <span [ngClass]="{'text-primary':response.ok,'text-danger':!response.ok}">
            {{response.msg}}
        </span>
    </div>
    <button type="button" class="btn btn--negro" [disabled]="loading" (click)="saveImages()">
      {{(loading) ? 'Cargando.....' : 'Guardar'}}
    </button>
  </div>
</ng-template>


<ng-template #ImagenesEstampilla let-modal ngClass="modal__admin">
  <div class="modal-header">
    <h4 class="modal-title">Agregar estampilla</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-modal-estampilla (changeData)="mostrarDatos()" [catalogo]="id_catalogo" [data]="dataStamp"></app-modal-estampilla>
</ng-template>

