<div class="text-center">
    <h3>Reportes</h3>
</div>
<div class="row">   
  
  <div class="col-lg-12 m-auto">
      <table class="table table--normal">  
          <thead>
            <tr>
              <th>Usuario reportado</th>
              <th>Usuario reportante</th>
              <th>Razon</th>                
              <th></th>                  
            </tr>
          </thead>
          <tbody *ngFor="let reporte of dataReportes">
            <tr >
              <td style="width:20%;">
                {{reporte.usuario_reportado.apellidos}} {{reporte.usuario_reportado.name}}<br>
                email: {{reporte.usuario_reportado.email}}<br>
                reputacion: {{reporte.usuario_reportado.reputacion}}
              </td>  
              <td style="width:10%;">
                {{reporte.usuario_reportante.apellidos}} {{reporte.usuario_reportante.name}}<br>
                email: {{reporte.usuario_reportante.email}}
                reputacion: {{reporte.usuario_reportante.reputacion}}

              </td>  
              <td>
                  {{reporte.descripcion_reporte_cliente}}

              </td>
              <td class="editar" width="30%">
                <div >
                  <a  href="javascript:void(0)" class="btn-table-rad info" (click)="viewMessage(reporte.usuario_reportado,modalChats)">
                    Ver mensaje
                  </a>
                  <div>
                    <select [(ngModel)]="status" class="form-control" (change)="openVerticallyCentered(modalReporte,status,reporte.uid)" >
                      <option selected value="">--Seleccione--</option>
                      <option  *ngFor="let status of estadosReporte" [value]="status.uid">
                        {{status.nombre}}
                      </option>
                    </select>
                  </div>
                </div>
            </td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
<ng-template #modalReporte let-modal ngClass="modal__admin">
  <div class="modal-header">
    <h4 class="modal-title">{{reporte.nombre}}</h4>
    
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div [innerHTML]="reporte.descripcion">
    </div>
  </div>
  <div class="modal-footer">
    <div class="col-md-12">
        <div *ngIf="response?.msg" class="text-center">
          <span [ngClass]="{'text-primary':response.ok,'text-danger':!response.ok}">
              {{response.msg}}
          </span>
      </div>
    </div>
    <button type="button" class="btn btn--negro" [disabled]="response.loading" (click)="reporteStatus()">
      {{(response.loading) ? 'Cargando.....' : 'Guardar'}}
    </button>
  </div>
</ng-template>

<ng-template #modalChats let-modal ngClass="modal__admin">
  <div class="modal-header">
    <h4 class="modal-title">Mensajes de {{chat.apellidos}} {{chat.name}}</h4>
    
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="J-content-conversation">
        <div class="J-conversation" *ngFor="let message of chat.messages">
            <div class="J-message">
                <a [href]="'/user/'+message.id_usuario"  class="J-message-name">
                    ~{{chat.nickname}}
                </a>
                {{message.message}}
            </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="col-md-12">
        <div *ngIf="response?.msg" class="text-center">
          <span [ngClass]="{'text-primary':response.ok,'text-danger':!response.ok}">
              {{response.msg}}
          </span>
      </div>
    </div>
    <button type="button" class="btn btn--negro" [disabled]="response.loading" (click)="chatView()">
      {{(response.loading) ? 'Cargando.....' : 'Listo'}}
    </button>
  </div>
</ng-template>



<!--<button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">Modal vertically centered</button>-->
