<p>Aquí podrás gestionar y compartir tu mancolista</p>
<div class="botones">
    <a href="" class="btn btn--plomo">Compartir lista <img src="assets/img/iconos/compartir.svg" alt=""> </a>
    <a href="" class="btn btn--plomo">Descargar <img src="assets/img/iconos/excel.svg" alt=""> </a>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Imagen</th>
        <th scope="col">País</th>
        <th scope="col">Año</th>
        <th scope="col">Descripción de la serie</th>
        <th scope="col">Número de catálogo</th>
        <th scope="col">Descripción</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
            <div class="check">
                <input type="checkbox" name="category" id="c_1" class="css-checkbox" />
                <label for="c_1" class="css-label"></label>
            </div>
        </th>
        <td><img src="assets/img/tabla/1.png" class="img-fluid" alt=""></td>
        <td>Perú</td>
        <td>1987</td>
        <td>Hombres célebres</td>
        <td>PE 2</td>
        <td>Postage stamps of Pacific Steam Navigation Company  </td>
        <td><button><img src="assets/img/iconos/eliminar.svg" alt=""></button> </td>
      </tr>
      <tr>
        <th scope="row">
            <div class="check">
                <input type="checkbox" name="category" id="c_2" class="css-checkbox" />
                <label for="c_2" class="css-label"></label>
            </div>
        </th>
        <td><img src="assets/img/tabla/1.png" class="img-fluid" alt=""></td>
        <td>Perú</td>
        <td>1987</td>
        <td>Hombres célebres</td>
        <td>PE 2</td>
        <td>Postage stamps of Pacific Steam Navigation Company  </td>
        <td><button><img src="assets/img/iconos/eliminar.svg" alt=""></button> </td>
      </tr>
      <tr>
        <th scope="row">
            <div class="check">
                <input type="checkbox" name="category" id="c_3" class="css-checkbox" />
                <label for="c_3" class="css-label"></label>
            </div>
        </th>
        <td><img src="assets/img/tabla/1.png" class="img-fluid" alt=""></td>
        <td>Perú</td>
        <td>1987</td>
        <td>Hombres célebres</td>
        <td>PE 2</td>
        <td>Postage stamps of Pacific Steam Navigation Company  </td>
        <td><button><img src="assets/img/iconos/eliminar.svg" alt=""></button> </td>
      </tr>
      <tr>
        <th scope="row">
            <div class="check">
                <input type="checkbox" name="category" id="c_4" class="css-checkbox" />
                <label for="c_4" class="css-label"></label>
            </div>
        </th>
        <td><img src="assets/img/tabla/1.png" class="img-fluid" alt=""></td>
        <td>Perú</td>
        <td>1987</td>
        <td>Hombres célebres</td>
        <td>PE 2</td>
        <td>Postage stamps of Pacific Steam Navigation Company  </td>
        <td><button><img src="assets/img/iconos/eliminar.svg" alt=""></button> </td>
      </tr>
    </tbody>
  </table>
