<p>Aquí podrás gestionar y compartir tu mancolista</p>
<div class="botones">
    <!-- <a href="javascript:void(0)" (click)="copyLink()" class="btn btn--plomo">Compartir lista <img src="assets/img/iconos/compartir.svg" alt=""> </a> -->
    <a class="btn btn--plomo"  class="mainAdmin__boton" (click)="export()">Descargar <img src="assets/img/iconos/excel.svg" alt=""> </a>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-12 col-sm-12 row">
        <div  class="col-md-3">
            <a href="javascript:void(0)"  class="box-decoration">
              <div class="colection-content" *ngIf="createForm;else create">
                <input class="colection-input" placeholder="Asigna un nombre a tu colección..." [(ngModel)]="name">
                <div class="colection-btn-content">
                  <button class="btn btn-secondary colection-btn" (click)="createForm=false">
                    Cancelar
                  </button>
                  <button class="btn btn-primary  colection-btn" (click)="createManco()">
                    Guardar
                  </button>
                </div>
              </div>
              <ng-template #create>
                <button class="box-decoration-btn saved" (click)="createForm=true">
                  <i class="fas fa-plus"></i>
                </button>
                <span class="btn-span" (click)="createForm=true">
                  Crear colección
                </span>
              </ng-template>
          </a>
        </div>
        <div class="col-md-3" *ngFor="let data of dataMancoLista">
          <a  href="javascript:void(0)"   class="box-decoration"  (click)="selectedMancolLista(data)">
            <div class="box-decoration-title">
              <span *ngIf="!data.edit; else inputactive">
                {{data.name}}
              </span>
              <ng-template #inputactive>
                <div class="colection-content">
                  <input class="colection-input" placeholder="" [(ngModel)]="data.name">
                  <div class="colection-btn-content">
                    <button class="btn btn-secondary colection-btn" (click)="cancelColection(data)">
                      Cancelar
                    </button>
                    <button class="btn btn-primary  colection-btn" (click)="updateManco(data.uid,data.name)">
                      Guardar
                    </button>
                  </div>
                </div>
              </ng-template>
            </div>
              <button class="box-decoration-btn edit" *ngIf="data.name!='General'" (click)="editColection(data)">
                <i class="fas fa-pencil-alt"></i>
              </button>
              <button class="box-decoration-btn share" (click)="copyLink(data.uid)">
                <i class="fas fa-share"></i>
              </button>
              <button class="box-decoration-btn remove" *ngIf="data.name!='General'" (click)="deleteManco(data.uid)">
                <i class="fas fa-trash"></i>
              </button>
          </a>
        </div>
    </div>
    <!-- <div class="col-md-12 col-sm-12 row " style="justify-content: center; margin-top: 20px;">
      <div class="col-lg-6 col-md-8 col-sm-12 pr-0 catalogo-item" *ngFor="let data of mancolista">
        <button class="J-btn-close btn-danger" (click)="deleteMancolista(data)">
          <i class="fas fa-trash-alt"></i>
        </button>
        <div class="filtros__contenido__card">
            <div class="filtros__contenido__card__top">
                <span>{{data.Estampillas.ANIO}}</span>
                <img [src]="sanitizeImageUrl(api+data.FOTO_ESTAMPILLAS.imagen_url)" alt="">
            </div>
            <div class="filtros__contenido__card__center" >
                <a href="javascript:void(0)" (click)="modalOpen(data.Estampillas)" (click)="modalManco.openModal()" class="plus">
                    <div class="icono">
                        <div class="icono__border">
                            <svg height="426.66667pt" viewBox="0 0 426.66667 426.66667" width="426.66667pt" xmlns="http://www.w3.org/2000/svg"><path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"/></svg>
                        </div>
                    </div>
                    <div class="plus__content">

                    </div>
                    <p>Añadir a otra colección</p>
                </a>
            </div>
            <div class="filtros__contenido__card__boton">
                <ul>
                    <li>{{data.Estampillas.NRO_ESTAMPILLAS}} {{data.Estampillas.TIPO}}</li>
                    <li>{{data.Estampillas.DESCRIPCION_ESTAMPILLA}}</li>
                    <li>{{data.Estampillas.TIPO_MONEDA_VALOR_FACIAL}} {{data.Estampillas.VALOR_FACIAL}}</li>
                    <li>
                        {{ data.Estampillas.MONEDA_VALOR_CATALOGO_NUEVO_USADO}} {{ data.Estampillas.VALOR_CATALOGO_NUEVO}} - {{ data.Estampillas.VALOR_DEL_CATALOGO_USADO}}
                    </li>
                    <li>
                      <select class="form-control" (change)="changeStatus(data)" [(ngModel)]="data.estado_estampilla" [value]="data.estado_estampilla">
                          <option value="">-- seleccione --</option>
                          <option *ngFor="let item of dataStatus" [value]="item.name">{{item.name}}</option>
                      </select>
                    </li>
                </ul>
            </div>
            
        </div>
      </div>
    </div> -->
    <div class="col-lg-12" style=" margin-top: 30px;">
      <div class="shadow p-3 mb-5 bg-body rounded">
        <table class="table table--normal" style="margin-top: 0px;">
          <thead>
            <tr>
              <th width="13%">Img</th>
              <th width="13%">N° - Tipo</th>
              <th width="25%">Descripción</th>
              <th width="13%">V. facial</th>
              <th width="20%">V. nuevo - Usado </th>
              <th width="40%">Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody *ngFor="let data of mancolista">
            <tr>
              <td>
                <div class="circle-img">
                  <img width="70px" height="70px" class="rounded-circle" [src]="sanitizeImageUrl(api+data.UrlImagenEstampilla||'')" />
                </div>
              </td>
              <td>{{ data.Estampillas.NRO_ESTAMPILLAS }} - {{ data.Estampillas.TIPO }}</td>
              <td>{{ data.Estampillas.DESCRIPCION_ESTAMPILLA }}</td>
              <td> {{data.Estampillas.TIPO_MONEDA_VALOR_FACIAL}} {{ data.Estampillas.VALOR_FACIAL}} </td>
              <td> {{ data.Estampillas.MONEDA_VALOR_CATALOGO_NUEVO_USADO}} {{ data.Estampillas.VALOR_CATALOGO_NUEVO}} - {{ data.VALOR_DEL_CATALOGO_USADO}}</td>
              <td> 
                <select class="form-control" (change)="changeStatus(data)" [(ngModel)]="data.EstadoESperadoEstampilla" [value]="data.EstadoESperadoEstampilla">
                  <option value="">-- seleccione --</option>
                  <option *ngFor="let item of dataStatus" [value]="item.name">{{item.name}}</option>
              </select>
              </td>
              
              <td  style="position: relative;">  
                <button class="J-btn-close btn-danger" (click)="deleteMancolista(data)">
                  <i class="fas fa-trash-alt"></i>
                </button>
                <button class="J-btn-close btn-info" (click)="modalOpen(data.Estampillas)" (click)="modalManco.openModal()">
                  <i class="fas fa-exchange-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="col-lg-12" *ngIf="mancolista.length!=0">
          <app-pagination [link]="pagination.link" [params]="pagination.params" [current]="pagination.current" [pages]="pagination.pages"></app-pagination>
        </div>
      </div>
    </div>
    
</div>
<!-- <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Imagen</th>
        <th scope="col">País</th>
        <th scope="col">Año</th>
        <th scope="col">Desc. serie</th>
        <th scope="col">N° catálogo</th>
        <th scope="col">Descripción</th>
        <th scope="col">Estado</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let data of dataMancoLista">
        <tr>
          <th scope="row">
              
          </th>
          <td><img [src]="sanitizeImageUrl(api+data.id_estampilla?.Foto_JPG_800x800_px||'')" class="img-fluid" alt=""></td>
          <td>{{data.id_estampilla?.Pais.name}}</td>
          <td>{{data.id_estampilla.ANIO}}</td>
          <td>{{data.id_estampilla.Descripcion_de_la_serie}}</td>
          <td style="width: 15%">{{data.id_estampilla.Numero_de_catalogo}}</td>
          <td>{{data.id_estampilla.Descripcion}}</td>
          <td>
            <select [value]="data.estado_estampilla" [(ngModel)]="data.estado_estampilla" (change)="changeStatus(data)">
                <option value="nuevo">Nuevo</option>
                <option value="usado">Usado</option>
                <option value="Es indiferente">Es indiferente</option>
            </select>
          </td>
          <td><button (click)="deleteMancolista(data)"><img src="assets/img/iconos/eliminar.svg" alt=""></button> </td>
        </tr>
      
    </tbody>
  </table> -->




<!--<button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">Modal vertically centered</button>-->

<app-modal [modal]="dataMancoSelected" #modalManco></app-modal>