<section class="formulario m-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="formulario__content">
                    <h2 class="titulo titulo--mediano">Regístrate ahora mismo</h2>
                    <p>Para llegar a miles de compradores y vendedores con tu misma pasión.</p>
                    <span>Recuerda que al crear tu cuenta, aceptas los <a routerLink="/terminos">Términos de uso</a> y la <a routerLink="/privacidad">Política de privacidad</a> de Filatelia Peruana.</span>
                    <div class="formulario__content__form">
                        <form [formGroup]="registerForm" class="needs-validation row" (ngSubmit)="registrar()" >
                            <div class="form-group col-lg-12">
                              <label for="exampleInputEmail1">Correo electrónico</label>
                              <input type="email" required name="email" class="form-control is-valid" ngModel>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            <div class="form-group col-lg-12  has-validation">
                              <label for="exampleInputPassword1">Contraseña</label>
                              <input type="password" name="password" required class="form-control is-invalid" id="exampleInputPassword1" ngModel>
                              <div class="invalid-feedback">
                                Please choose a username.
                              </div>
                            </div>
                            <div class="form-group col-lg-12">
                              <label for="exampleCheck1">Confirmar contraseña</label>
                              <input type="password" name="password_confirm is-invalid" required class="form-control" id="exampleCheck1" ngModel>
                              <div class="invalid-feedback">
                                Please choose a username.
                              </div>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit"  class="btn btn--negro">Crear mi cuenta</button>
                            </div>
                            <div class="col-lg-12">
                                <span>¿Ya tienes cuenta? <a routerLink="/auth/login">Iniciar sesión</a> </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="formulario__img" style="background-image: url(../assets/img/bg/bg-registrate.png);">
                    <div class="formulario__img__content formulario__img__content--botom">
                        <div>
                            <h2 class="titulo titulo--mediano">Llega a las personas indicadas en el momento indicado</h2>
                            <p>Comienza a comprar y vender hoy mismo tus colecciones en Filatelia Peruana</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
