.hide{
    display: none;
}
.show{
    display: block !important;
}
.formulario__content__form{
    margin-top: 0;
}
.formulario__content {
    padding: 30px 121px 30px 121px;
}
.content-more{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    .item-more{
        padding: 6px;
        margin: 5px 10px;
        background-color: #f5f2f2;
        border-radius: 17px;
        min-width: 100px;
        text-align: center;
        font-weight: bold;
        position: relative;
        box-shadow: 0 2px 5px 2px rgb(0 0 0 / 15%);
    }
    .delete-more{
        cursor: pointer;
        position: absolute;
        top: -10px;
        border: 0;
        right: 0;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        line-height: 20px;
        font-size: 25px;
        font-weight: bold;
        background-color: transparent;
        color: #dc3545;
        &:focus{
            opacity: 0.5;
        }
        &:hover{
            opacity: 0.5;
        }
    }
}