<section class="formulario m-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="formulario__content">
                    <h2 class="titulo titulo--mediano">Regístrate ahora mismo</h2>
                    <p>Para llegar a miles de compradores y vendedores con tu misma pasión.</p>
                    <span>Recuerda que al crear tu cuenta, aceptas los <a href="">Términos de uso</a> y la <a href="">Política de privacidad</a> de Filatelia Peruana.</span>
                    <div class="formulario__content__form">
                        <form class="row">
                            <div class="form-group col-lg-12">
                              <label for="exampleInputEmail1">Correo electrónico</label>
                              <input type="email" class="form-control">
                            </div>
                            <div class="form-group col-lg-12">
                              <label for="exampleInputPassword1">Contraseña</label>
                              <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="form-group col-lg-12">
                              <label for="">Confirmar contraseña</label>
                              <input type="password" class="form-control" id="exampleCheck1">
                            </div>
                            <div class="col-lg-7">
                                <button type="submit" class="btn btn--negro">Crear mi cuenta</button>
                            </div>
                            <div class="col-lg-5">
                                <span>¿Ya tienes cuenta? <a href="auth/login">Iniciar sesión</a> </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="formulario__img" style="background-image: url(../assets/img/bg/bg-registrate.png);">
                    <div class="formulario__img__content formulario__img__content--botom">
                        <div>
                            <h2 class="titulo titulo--mediano">Llega a las personas indicadas en el momento indicado</h2>
                            <p>Comienza a comprar y vender hoy mismo tus colecciones en Filatelia Peruana</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
