<div class="dashboard__contenido2">
 
<form class="row">
    <div class="col-lg-6">
        <div class="dashboard__contenido__formulario">
            <h2 class="titulo titulo--chico2">Opciones de moneda</h2>
            <div >
              <p class="titulo titulo--chico">Recuerda que las siguientes opciones afectan a como se muestran los precios en la tienda</p>
            </div>
            
          
           
            <div class="form row">
              
                <div class="form-group col-lg-12">
                  <label for="exampleInputEmail1">Moneda</label>
                    <select class="form-control pesquisa__select col-12 selectCustom">
                      <option>teste 01</option>
                      <option>teste 02</option>
                      <option>teste 03</option>
                    </select>
             
                </div>
                <div class="form-group col-lg-12">
                  <label for="exampleInputPassword1" >Ubicación</label>
                    <select class="form-control pesquisa__select col-12 selectCustom">
                      <option>teste 01</option>
                      <option>teste 02</option>
                      <option>teste 03</option>
                    </select>
                </div>
                <div class="form-group col-lg-12">
                  <label for="">Separador de Miles</label>
                    <select class="form-control pesquisa__select col-12 selectCustom">
                      <option>teste 01</option>
                      <option>teste 02</option>
                      <option>teste 03</option>
                    </select>
                </div>
                <div class="form-group col-lg-7">
                    <label for="">Separador de Decimales</label>
                        <select class="form-control pesquisa__select col-12 selectCustom">
                          <option>teste 01</option>
                          <option>teste 02</option>
                          <option>teste 03</option>
                        </select>
                  </div>
                  <div class="form-group col-lg-7">
                    <label for="">Separador de Decimales</label>
                        <select class="form-control pesquisa__select col-12 selectCustom">
                          <option>teste 01</option>
                          <option>teste 02</option>
                          <option>teste 03</option>
                        </select>
                  </div>
                  <div class="form-group col-lg-6">
                    <button type="submit" class="btn btn--linea_min_blanco">Cancelar</button>
                </div>
                <div class="form-group col-lg-6">
                    <button type="submit" class="btn btn--linea_min_negro">Guardar</button>
                </div>
            </div>
        </div>
    </div>

</form>
</div>
