
<form class="row">
    
    <div class="col-lg-5">
        <div class="col-lg-6">
        <div class="dashboard__color__nombre">
            <a href=""  class="boton">
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;" xml:space="preserve">
                  <g>
                      <polygon points="79.093,0 48.907,30.187 146.72,128 48.907,225.813 79.093,256 207.093,128 		"/>
                  </g>
              </svg>
  
      </a>
      <h2 class="titulo titulo--mediano2">Volver a Pagos </h2>
  </div>
        </div>
        
        <div class="dashboard__contenido__formulario">
            <h2 class="titulo titulo--chico">Transferencia</h2>
            <div class="form row">
                <div class="form-group col-lg-12">
                  <label for="exampleInputEmail1">Titulo</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group col-lg-12">
                  <label for="exampleInputPassword1">Descripción</label>
                  <input type="text" class="form-control" id="exampleInputPassword1">
                </div> 
                <div class="form-group col-lg-12">
                  <label for="">Instrucciones</label>
                  <input type="text" class="form-control" id="exampleCheck1">
                </div>
               
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="dashboard__contenido__formulario">
            <div class="form row">
                <div class="form-group col-lg-6">
                  <label for="exampleInputEmail1">Nombre de Cuenta</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group col-lg-16">
                  <label for="exampleInputPassword1">IBAN</label>
                  <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group col-lg-6">
                  <label for="">Numero de Cuenta</label>
                  <input type="password" class="form-control" id="exampleCheck1">
                </div>
                <div class="form-group col-lg-6">
                    <label for="">BIC/Swift</label>
                    <input type="password" class="form-control" id="exampleCheck1">
                </div>
                <div class="form-group col-lg-12">
                    <label for="">Banco</label>
                    <input type="password" class="form-control" id="exampleCheck1">
                </div>
                <div class="form-group col-lg-12">
                    
                </div>
                <div class="form-group col-lg-6">
                    <button type="submit" class="btn btn--linea_min_blanco">Cancelar</button>
                </div>
                <div class="form-group col-lg-6">
                    <button type="submit" class="btn btn--linea_min_negro">Guardar</button>
                </div>
            </div>
        </div>
    </div>
   
</form>


 