@import '../../../../assets/styles/variables/variables.scss';

@media (max-width: 1920px){
    
    .banner{
        background-color: $amarillo;
        position: relative;
        .slider__content{
            position: absolute;
            background: transparent linear-gradient(281deg, #F8EA83 0%, #DAB74F 100%) 0% 0% no-repeat padding-box;
            box-shadow: 12px 12px 25px #00000076;
            left: 0;
            bottom: 2rem;
            padding: 3rem 57px;
            height: 16rem;
            width: 60.4%;
            z-index: 40;
            &__texto{
                position: absolute;
                &:before{
                    content: "";
                    position: absolute;
                    width: 2px;
                    height: 100%;
                    right: -2px;
                    background-color: $mostaza;
                }
            }
            &__precio{
                padding-top: 1.5rem;
                &:before{
                    content: "";
                    position: relative;
                    width: 2px;
                    height: 1rem;
                    right: -2px;
                    background-color: $mostaza;
                }
            }
            h2{
                color: $amarillo;
                font-size: 3rem;
                font-family: $DMregular;
            }
            p{
                font-size: 1.3rem;
                font-family: $lato;
                width: 90%;
            }
            h3{
                font-family: $prata;
                font-size: 2rem;
            }
            span{
                font-size:2rem;
                font-size: $lato;
            }
          
        }
        &__left{
            position: relative;
            padding-left:25px;
            h1{
                margin-bottom: 20px;
            }
            p{
                width: 60%;
                line-height: 40px;
                margin-bottom: 40px;
            }

        }
        &--amarillo{
            background-color: $amarillo;
            padding: 95px 30px;
            height: 100vh;
        }
        &--negro{
            background-color: $negro;
            height: 100vh;
        }
    }

    //////////////////////////////////////////////////////////////////////////////////////////
   
    .bannerslider{
            
        padding-top: -10rem;
        margin-top: -41.5rem;
        padding-left: 0rem;
        margin-left: 33rem;
        position: absolute;
        
       // padding-right: -15rem;
       // margin-right: -15rem;
       // margin-left: -15.5rem;
        //background-position: fixed;
        z-index: 0;

            height: 30rem;
            width: 50rem;

            img{
                height: 28.5rem;
           }
        .owl-nav{
            .owl-prev{
                width: 40px;
                height: 40px;
            }
            .owl-next{
                width: 40px;
                height: 40px;
            }
            .owl-prev{
                left: -35px;
            }
            .owl-next{
                right: -49px;
            }
        }
           
      
        }
    
    
    

    //////////////////////////////////////////////////////////////////////////////////////////
    
.cardV{
    transition: all 0.5s;
    border:none;
    &:hover{
        box-shadow: 5px 4px 9px #989898;
    }
    &__img{
        padding:36px 30px;
        border: 1px solid $plomo;
        height: 300px;
        width: 351px;
        display: flex;
        justify-content: center;
        img{
            width: 11rem !important;
            margin: auto;
        }
    }
    &__content{
        background-color: $negro;
        width: 22rem;
        padding: 5px 35px;
        h3{
            color: $amarillo;
            font-size: 20px;
            font-family: $prata;
            height: 84px;
            text-align: center;
            width: 15rem;
            margin: auto;
            line-height: 37px;
        }
        a{
            text-align: right;
            display: block;
            color: $amarillo;
            font-family: $prata;
            text-decoration: none;
            font-size: 20px;
            line-height: 24px;
        }
        ul{
            list-style: none;
            padding: 0;
            text-align: center;
            margin-bottom: 8px;
            li{
                font-size: 29px;
                color: $blanco;
                display: inline-block;
                font-family: $lato;
                padding: 0px 13px;
                &:first-child{
                    color: $plomo;
                    text-decoration: line-through;
                }
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////

.botonGrande{
    background: transparent linear-gradient(277deg, #F8EA83 0%, #FEF7A7 100%) 0% 0% no-repeat padding-box;
    box-shadow: 12px 12px 25px #00000076;
    width: 35rem;
    font-family: $DMregular;
    text-align: center;
    color: $negro;
    right: 0;
    bottom: 0;
    position: absolute;
    font-size: 1.7rem;
    padding: 32px 0px;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////
  
.vendido{
    padding-top: 50px;
    padding-bottom: 150px;
    position: relative;
    .titulo{
        margin-bottom: 30px;
    }
    .owl-vendido{
        position: relative;
        .owl-nav{
            display: block !important;
            position: absolute;
            width: 100%;
            top: 16rem;
            margin: 0;
            bottom: 0;
            left: 0;
            height: 92px;
            right: 0;
            button{
                position: absolute;
                background-color: $mostaza !important;
                width: 117px;
                height: 100%;
                top: 0;
                border-radius: 0;
                margin: auto;
                span{
                    font-size: 50px;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    line-height: 67px;
                }
                &:nth-of-type(1){
                    left: -54px;
                }
                &:nth-of-type(2){
                    right: -54px;
                }
            }
        }
        .item{
            padding:16px 7px;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////

.distribuidor{
    background-color: $amarillo;
    margin-top: 70px;
    &__content{
        padding: 26px 131px;
        position: relative;
        &:before{
            content: "";
            width: 286px;
            height: 170px;
            right: -151px;
            top: 31px;
            z-index: 1;
            position: absolute;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url(../../../../assets/img/iconos/raya-mostaza.svg);
        }
    }
    &__img{
        width: 100%;
        height: 70vh;
        background-image: url(../../../../assets/img/bg/bg-distribuidor.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
        &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: $amarillo 0% 0% no-repeat padding-box;
            opacity: 0.35;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////

.comenzar{
    .owl-nav{
        .owl-prev,
        .owl-next{
            width: 85px;
            height: 65px;
        }
        .owl-prev{
            left: -35px;
        }
        .owl-next{
            right: -49px;
        }
    }
    &__content{
        padding:85px 11px 162px;
        position: relative;
        &:before{
            content: ""; 
            width: 216px;
            height: 208px;
            left: -264px;
            top: 100px;
            z-index: 1;
            position: absolute;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url(../../../../assets/img/iconos/raya-vertical.svg);
        } 
    }
}

//////////////////////////////////////////////////////////////////////////////////////


.activo{
    &:before{
        content: "";
        width:100% !important;
        background-color:$mostaza !important;
    }
}



.session{
    height: 100vh;
    width: 100%;

}

.m-top{
    margin-top: 115px;
}

.numero{
    margin-top: 20px;
    padding: 0;
    li{
        list-style: none;
        display: inline-block;
        width: 100px;
        a{
            color: $plomo;
            font-size: 22px;
            text-decoration: none;
            font-family: $lato;
            &.activo{
                color: $mostaza;
            }
        }
    }
}

    
    
}