
                <div class="mainAdmin__listado">
                    <ul>
                        <li><a href="javascript:void(0)" routerLink="/o" class="active">Productos</a></li>
                        <li><a href="javascript:void(0)" routerLink="pais">Pedidos</a></li>
                        <li><a href="javascript:void(0)" routerLink="temas">Clientes</a></li>
                        <li><a href="javascript:void(0)" routerLink="admcatalogo">Cupones</a></li>
                    </ul>
                </div>
            
