 <header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 header--amarillo">
                 <div class="row">
                     <div class="col-lg-3 p-0 d-flex align-items-center">
                         <div class="header__logo">
                             <img src="../assets/img/logo.png" class="img-fluid" alt="">
                         </div>
                     </div>
                     <div class="col-lg-9 d-flex justify-content-end align-items-center">
                         <div class="header__left">
                             <ul>
                                 <li ><a [routerLink]="['/']" >Inicio</a></li>
                                 <li ><a [routerLink]= "['/tienda']" >Tienda</a></li>
                                 <li><a [routerLink]="['/subasta']">Subasta</a></li>
                                 <li><a [routerLink]= "['/catalogo']">Catálogo</a></li>
                             </ul>
                         </div>
                     </div>
                 </div>
            </div>
            <div class="col-lg-6 header--negro">
             <div class="row">
                 <div class="col-lg-12 p-0 d-flex align-items-center">
                     <div class="header__right">
                         <ul style="display: flex">
                             <li><a class="header__blanco" href="">Contacto</a></li>
                             <li  *ngIf="!isLoggedIn"><a class="header__blanco" [routerLink]= "['/auth/register']" >Registrate</a></li>
                             <li *ngIf="!isLoggedIn"><a class="header__blanco" [routerLink]= "['/auth/login']" >Iniciar Sesión</a></li>
                            
                            
                           
                           <!--[routerLink]= "['/user/dashboard']"-->
                           <li class="perfil"  ngbDropdown  *ngIf="showAdminBoard||showClientBoard">
                                <div class="perfil__icono" >
                                <img src="../assets/img/iconos/user.png" alt="">
                                </div> 
                                <a class="header__blanco" ngbDropdownToggle>{{name}}</a> 
                                <div ngbDropdownMenu>
                                    <li class="perfil J-header-item" *ngIf="showAdminBoard">
                                        <a class="J-header-link  header__negro" [routerLink]= "['/admin/dashboard']">{{name}}</a>
                                    </li>
                                    <li class="perfil J-header-item" *ngIf="showClientBoard">
                                        <a class="J-header-link  header__negro"  [routerLink]= "['/admin/dashboard']">{{name}}</a>
                                    </li>
                                    <li *ngIf="isLoggedIn" class="J-header-item">
                                        <a class="J-header-link header__negro" href="javascript:void(0)" (click)="logout()">Cerrar sesión</a>
                                    </li>
                                </div>
                        
                            </li>
                            <li *ngIf="isLoggedIn" class="notificacion" ngbDropdown>
                                <a ngbDropdownToggle>
                                    <img src="../assets/img/iconos/notificacion.svg" alt="">
                                </a>
                                  <div ngbDropdownMenu class="notificacioneslink">
                                      <app-notify></app-notify>
                                  </div>
                            </li>
                         <!--  <li *ngIf="isLoggedIn" class="notificacion2" ngbDropdown>
                                <a ngbDropdownToggle>
                                    <img src="../assets/img/iconos/comment.svg" alt="">
                                </a>
                                  <div ngbDropdownMenu class="notificacioneslink">
                                   
                                 <div class="modal__admin">
                                        <div class="modal-header">
                                          <h4 class="modal-title">Nombre</h4>
                                          
                                        </div>
                                        <div class="modal-body">
                                          <form class="row">
                                           
                                              <div class="form-group col-lg-8">
                                                <label for="">chat 1</label>
                                               
                                              </div>
                                              <div class="form-group col-lg-8">
                                                  
                                                <label for="">yo</label>
                                                
                                              </div>
                                              <div class="form-group col-lg-12">
                                                <input type="text" class="form-control">
                                               
                                              </div>
                                              <div class="form-group col-12">
                                                <button type="button" class="btn btn--negro" >Guardar</button>
                                              </div>
                                                    
                                          </form>
                                        </div>
                                      </div>
                                    </div>
                                
                            </li> --> 
                              <li  class="notificacion">
                                
                                  <a href="" class="carrito">
                                      <img src="../assets/img/iconos/carrito.svg" alt="">
                                  </a>
                              </li>
                         </ul>
                     </div>
                 </div>
             </div>
            </div>
        </div>
    </div>
  </header>
  <!--
  
 <div class="header__mobile">
     <div class="header__mobile__logo">
       <a class="navbar-brand" href="#"><img src="../../../assets/img/logo-blanco.png" alt="" class="img-fluid"></a>
     </div>
     <div class="buscador">
         <form>
             <div class="">
                 <div class="input-group">
                     <input type="text" class="form-control" placeholder="Buscar comics, animes, artistas, estudios">
                 <div class="input-group-prepend">
                     <div class="input-group-text">
                         <img src="../assets/img/iconos/lupa.svg" alt="">
                     </div>
                 </div>
                 </div>
             </div>
         </form>
     </div>
      <div class="burger" (click)="isCollapse = !isCollapse" >
       <span ></span>
      </div>
  </div>
  <nav class="header__responsive" [ngbCollapse]="!isCollapse">
     <div class="usuario" *ngIf="['showAdminBoard']">
         <div class="icono"><img src="../assets/img/iconos/user.png" alt=""></div>
         <span>{{name}}</span>
     </div>
     <div class="usuario" *ngIf="showClientBoard">
        <div class="icono"><img src="../assets/img/iconos/user.png" alt=""></div>
        <span>{{name}}</span>
    </div>
 
     <ul class="main">
       <li><a [routerLink]="['/']">Inicio</a></li>
       <li><a [routerLink]="['/tienda']">Tienda</a></li>
       <li><a [routerLink]="['/subasta']">Subasta</a></li>
       <li><a [routerLink]="['/catalogo']">Catalogo</a></li>
       <li><a *ngIf="showClientBoard" [routerLink]= "['/user/dashboard']">Dashboard</a></li>
       <li><a *ngIf="showAdminBoard" [routerLink]= "['/admin/dashboard']">Dashboard</a></li>
       <li><a (click)="logout()" *ngIf="isLoggedIn">Cerrar Sesión</a></li>
       <li><a [routerLink]= "['auth/login']" *ngIf="!isLoggedIn" data-toggle="modal" data-target="#modal__login">Login</a></li>
       <li><a [routerLink]="['auth/register']" *ngIf="!isLoggedIn" data-toggle="modal" data-target="#modal__registrar">Registrar</a></li>
       
       
       
   </ul>

  </nav>
  


  --->