 <header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 header--amarillo">
                 <div class="row">
                     <div class="col-lg-3 p-0 d-flex align-items-center">
                         <div class="header__logo">
                             <img src="../assets/img/logo.png" class="img-fluid" alt="">
                         </div>
                     </div>
                     <div class="col-lg-9 d-flex justify-content-end align-items-center">
                         <div class="header__left">
                             <ul>
                                 <li ><a [routerLink]="['/']" >Inicio</a></li>
                                 <li ><a [routerLink]= "['/tienda']" >Tienda</a></li>
                                 <li><a >Subasta</a></li>
                                 <li><a [routerLink]= "['/catalogo']">Catálogo</a></li>
                             </ul>
                         </div>
                     </div>
                 </div>
            </div>
            <div class="col-lg-6 header--negro">
             <div class="row">
                 <div class="col-lg-9 p-0 d-flex align-items-center">
                     <div class="header__right">
                         <ul>
                             <li><a href="">Contacto</a></li>
                             <li><a [routerLink]= "['/auth/register']" *ngIf="!isLoggedIn" >Registrate</a></li>
                             <li><a [routerLink]= "['/auth/login']" *ngIf="!isLoggedIn">Iniciar Sesión</a></li>
                            
                             <li><a  (click)="logout()" *ngIf="isLoggedIn">Cerrar sesión</a></li>
                           
                            
                             <li class="perfil" *ngIf="showAdminBoard">
                                <div class="perfil__icono">
                                 <img src="../assets/img/iconos/user.png" alt="">
                                </div>
                                <a [routerLink]= "['/admin/dashboard']">{{name}}</a> 
                            
                            </li>

                            <li class="perfil" *ngIf="showClientBoard">
                                <div class="perfil__icono">
                                 <img src="../assets/img/iconos/user.png" alt="">
                                </div>
                                <a [routerLink]= "['/user/dashboard']">{{name}}</a> 
                            
                            </li>
                             
                         </ul>
                     </div>
                 </div>
                 <div class="col-lg-3">
                      <div class="notificacion">
                          <ul>
                            <li *ngIf="isLoggedIn">
                                <a  href="">
                                    <img src="../assets/img/iconos/notificacion.svg" alt="">
                                </a>
                            </li>
                              <li>
                                
                                  <a href="" class="carrito">
                                      <img src="../assets/img/iconos/carrito.svg" alt="">
                                  </a>
                              </li>
                          </ul>
                      </div>
                 </div>
             </div>
            </div>
        </div>
    </div>
  </header>
  <!-- menu responsive -->
 <div class="header__mobile">
     <div class="header__mobile__logo">
       <a class="navbar-brand" href="#"><img src="../assets/img/logo-blanco.png" alt="" class="img-fluid"></a>
     </div>
     <div class="buscador">
         <form>
             <div class="">
                 <div class="input-group">
                     <input type="text" class="form-control" placeholder="Buscar comics, animes, artistas, estudios">
                 <div class="input-group-prepend">
                     <div class="input-group-text">
                         <img src="../assets/img/iconos/lupa.svg" alt="">
                     </div>
                 </div>
                 </div>
             </div>
         </form>
     </div>
      <div class="burger" type="button" (click)="isCollapse = !isCollapse" >
       <span ></span>
      </div>
  </div>
  <nav class="header__responsive" [ngbCollapse]="!isCollapse">
     <div class="usuario" *ngIf="['showAdminBoard']">
         <div class="icono"><img src="../assets/img/iconos/user.png" alt=""></div>
         <span>{{name}}</span>
     </div>
     <div class="usuario" *ngIf="showClientBoard">
        <div class="icono"><img src="../assets/img/iconos/user.png" alt=""></div>
        <span>{{name}}</span>
    </div>
 
     <ul class="main">
       <li><a [routerLink]="['/']">Inicio</a></li>
       <li><a [routerLink]="['/tienda']">Tienda</a></li>
       <li><a [routerLink]="['/subasta']">Subasta</a></li>
       <li><a [routerLink]="['/catalogo']">Catalogo</a></li>
       <li><a *ngIf="showClientBoard" [routerLink]= "['/user/dashboard']">Dashboard</a></li>
       <li><a *ngIf="showAdminBoard" [routerLink]= "['/admin/dashboard']">Dashboard</a></li>
       <li><a (click)="logout()" *ngIf="isLoggedIn">Cerrar Sesión</a></li>
       <li><a [routerLink]= "['/auth/login']" *ngIf="!isLoggedIn" data-toggle="modal" data-target="#modal__login">Login</a></li>
       <li><a [routerLink]="['auth/register']" *ngIf="!isLoggedIn" data-toggle="modal" data-target="#modal__registrar">Registrar</a></li>
       
       
       
   </ul>

  </nav>


