@import '../../../assets/styles/variables/variables.scss';

@media (max-width: 1920px){
    
    
    .header{
        height: auto;
        display: block;
        padding:0;
        width: 100%;
        top:0px;
        position: absolute;
        z-index: 123;
        &--amarillo{
            background-color: $amarillo;
            position: relative;
            height: 160px;
            padding-left: 37px;
        }
        &--negro{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $negro;
            position: relative;
            height: 160px;
            padding-right: 37px;
        }
        &__logo{
            background-color:$negro;
            padding-left: 0px;      
        }
        &__left{
            margin-top: 0;
            ul{
                li{
                    padding:0px 15px;
                    &:first-child{
                        padding-left: 0;
                    }
                    a{
                        color: $negro;
                    }
                }
            }
        }
        &__right{
            margin-top: 0;
            ul{
                li{
                    padding: 0% 5px;
                    &:first-child{
                        padding-left: 5px;
                    }
                    &:last-child{
                        padding-right: 5px;
                    }
                }
            }
        } 
        &__blanco{
                        
            color: $blanco;
    
        }
        &__negro{
            
            color: $negro;
    
        }   
        .notificacion{
            text-align: right;
            
            &:last-child{
                margin-left: 10px;
            }
            a{
                color: black;
                img{
                    width: 20px;
                }
                &:hover:before{
                    background-color:transparent;
                }                    
            }
        }
        .notificacion2{
            text-align: right;
            
            &:last-child{
                margin-left: 10px;
                padding-top: 10px;
            }
            a{
                color: black;
                img{
                    width: 20px;
                }
                &:hover:before{
                    background-color:transparent;
                }                    
            }
        }
    
        ul{
            list-style: none;
            margin-bottom: 3rem;
            .perfil{   
                position: relative;  
                                                          
                &__icono{
                 width: 42px;
                 height: 42px;
                 position: absolute;
                 border-radius: 50%;
                 overflow: hidden;
                 top: -8px;
                 left: 40px;
                 img{
                     width: 50px;
                     transform: translate(-3px, 0px);
                 }               
                }
                a{
                     margin-left: 65px;
                }
            }
            li{
                display: inline-block;
               
                a{
                    font-size: 16px;
                    display: block;
                    font-family: $lato;
                    position: relative;
                    padding: 0px 16px;
                    font-weight: 500;
                    transition: all 2s;
                    text-decoration: none;                
                    &:hover:before{
                        background-color: $mostaza;
                        width: 100%;
                    }
                    &:before{
                        content: "";
                        position: absolute;
                        width: 0%;
                        height: 2px;
                        transition: all 0.5s;
                        background-color: transparent;
                        bottom: -5px;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
                }
            }
        }
    }
    .notificacioneslink{
        font-size: 10px;
        background-color: #ffffff;
        background: #ffffff;
        font-family: 'Courier New', Courier, monospace;
        margin: auto;
    
    }
   
    
    .header--amarillo {
        height: 115px;
        display: flex;
        justify-content: center;
        align-items: center;
        .header__left {
            margin-top: 0;
            ul{
                padding: 0;
                margin-bottom: 0;
                li{
                    padding: 0;
                    margin-left: 1em;
                }
            }
        }
        
    }
    .header--negro{
        height: 115px;
        ul{
            margin-bottom: 0;
        }
        .m-top{
            margin-top: 0;
        }
    }
     .J-header-item{
        padding: 15px;
        width: 100%;
    
     }
    .J-header-link{
        width: 100%;
        margin-left: 0 !important;
    
    }
}