
$negro:#2C2C2C;
$amarillo:#FEF7A7;
$blanco:#fff;
$plomo:#C6C6C6;
$plomoOscuro:#9B9696;
$mostaza:#DAB74F;
$roboto:'Roboto', sans-serif;
$lato:'Lato', sans-serif;
$signika:'Signika', sans-serif;
$yellow: 'yellow';
$prata:"prata";
$DMregular:"DMregular";