@media (max-width: 1920px){
    .notificacion{
        .dropdown-menu.show{
            width: 300px !important;
            left: -120px !important;
            max-height: 500px;
            overflow-y: auto;
        }
        .notify-content{
            margin:10px;
            min-height: 100px;
            display: flex;
            width: 93%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            &:focus{
                background:none;
            }
            .title{
                font-weight: bold;
            }
            &.active{
                background-color: #f5f2f2;
                color: #000000;
            }
        }
    }
    .activo{
        &:before{
            content: "";
            width:100% !important;
            background-color:$mostaza !important;
        }
    }
    
    .header{
        height: auto;
        display: block;
        padding:0;
        width: 100%;
        top:0px;
        position: absolute;
        z-index: 123;
        &--amarillo{
            background-color: $amarillo;
            position: relative;
            height: 160px;
            padding-left: 37px;
        }
        &--negro{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $negro;
            position: relative;
            height: 160px;
            padding-right: 37px;
        }
        &__logo{
            background-color:$negro;
            padding-left: 0px;      
        }
        &__left{
            margin-top: 0;
            ul{
                li{
                    padding:0px 15px;
                    &:first-child{
                        padding-left: 0;
                    }
                    a{
                        color: $negro;
                    }
                }
            }
        }
        &__right{
            margin-top: 0;
            ul{
                li{
                    padding: 0% 5px;
                    &:first-child{
                        padding-left: 5px;
                    }
                    &:last-child{
                        padding-right: 5px;
                    }
                }
            }
        } 
        &__blanco{
                        
            color: $blanco;
    
        }
        &__negro{
            
            color: $negro;
    
        }   
        .notificacion{
            text-align: right;
            
            &:last-child{
                margin-left: 10px;
            }
            a{
                color: black;
                img{
                    width: 20px;
                }
                &:hover:before{
                    background-color:transparent;
                }                    
            }
        }
        .notificacion2{
            text-align: right;
            
            &:last-child{
                margin-left: 10px;
                padding-top: 10px;
            }
            a{
                color: black;
                img{
                    width: 20px;
                }
                &:hover:before{
                    background-color:transparent;
                }                    
            }
        }
    
        ul{
            list-style: none;
            margin-bottom: 3rem;
            .perfil{   
                position: relative;  
                                                          
                &__icono{
                 width: 42px;
                 height: 42px;
                 position: absolute;
                 border-radius: 50%;
                 overflow: hidden;
                 top: -8px;
                 left: 40px;
                 img{
                     width: 50px;
                     transform: translate(-3px, 0px);
                 }               
                }
                a{
                     margin-left: 65px;
                }
            }
            li{
                display: inline-block;
               
                a{
                    font-size: 16px;
                    display: block;
                    font-family: $lato;
                    position: relative;
                    padding: 0px 16px;
                    font-weight: 500;
                    transition: all 2s;
                    text-decoration: none;                
                    &:hover:before{
                        background-color: $mostaza;
                        width: 100%;
                    }
                    &:before{
                        content: "";
                        position: absolute;
                        width: 0%;
                        height: 2px;
                        transition: all 0.5s;
                        background-color: transparent;
                        bottom: -5px;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
                }
            }
        }
    }
    .notificacioneslink{
        font-size: 10px;
        background-color: #ffffff;
        background: #ffffff;
        font-family: 'Courier New', Courier, monospace;
        margin: auto;
    
    }
    
    
    .banner{
        background-color: $amarillo;
        position: relative;
        .slider__content{
            position: absolute;
            background: transparent linear-gradient(281deg, #F8EA83 0%, #DAB74F 100%) 0% 0% no-repeat padding-box;
            box-shadow: 12px 12px 25px #00000076;
            left: 0;
            bottom: 2rem;
            padding: 74px 57px;
            height: 40%;
            width: 60.4%;
            &__texto{
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    width: 2px;
                    height: 100%;
                    right: -2px;
                    background-color: $mostaza;
                }
            }
            h2{
                color: $amarillo;
                font-size: 45px;
                font-family: $DMregular;
            }
            p{
                font-size: 22px;
                font-family: $lato;
                width: 90%;
            }
            h3{
                font-family: $prata;
                font-size: 35px;
            }
            span{
                font-size: 52px;
                font-size: $lato;
            }
        }
        &__left{
            position: relative;
            padding-left:25px;
            h1{
                margin-bottom: 20px;
            }
            p{
                width: 60%;
                line-height: 50px;
                margin-bottom: 40px;
            }
        }
        &--amarillo{
            background-color: $amarillo;
            padding: 95px 30px;
            height: 100vh;
        }
        &--negro{
            background-color: $negro;
            height: 100vh;
        }
    }
    }