@media (max-width: 1920px){
.filtros{
    padding: 70px 0px;
    padding-left: -5rem;
    margin-left: -10rem;
    &__aside{
        .accordion{
            .card{
                border:1px solid transparent;
                padding-left: -0.3rem;
                margin-left: -0.3rem;
                &-header{
                    padding: 0;
                    background-color: $blanco;
                    border:1px solid transparent;
                    border-bottom: 1px solid $plomo;
                    margin: 0;
                    button,
                    a{
                        padding: 8px 0px;
                        display: block;
                        font-size: 1.2rem;
                        font-family: $lato;
                        min-width: 100%;
                        text-align: left;
                        color: $negro;
                        position: relative;
                        text-decoration: none;
                        &:focus{
                            box-shadow:1px 3px transparent;
                        }
                        &:after{
                            content: "";
                            position: absolute;
                            width: 15px;
                            height: 15px;
                            background-image: url(../../../img/iconos/flecha.svg);
                            transform:rotate(270deg);
                            right: 25px;
                            bottom: 0;
                            top:0;
                            margin: auto;
                            transition: all 0.5s;
                        }
                        &.collapsed:after{
                            transform: rotate(90deg);
                        }
                    }
                }
                &-body{
                    padding: 23px 10px 2px 10px;
                    ul{
                        padding: 0;
                        li{
                            list-style: none;
                            padding-top: 6px 0px;
                            a{
                                font-size: 5px;
                                font-family: $lato;
                                color: $negro;
                            }
                        }
                    }
                    .check{
                        display: block;
                        margin-bottom:10px;
                        &:last-child{
                            margin-bottom:0px;
                        }
                        .botton{
                          margin-top: 0;
                        }
                        input[type=checkbox].css-checkbox{
                          display: none;
                        }
                        input[type=checkbox].css-checkbox + label.css-label {
                          height: 21px;
                          display: inline-block;
                          line-height: 1.25rem;
                          font-size: 0.9rem;
                          background-size: contain;
                          font-family: $lato;
                          color: $negro;
                          padding-left: 27px;
                          vertical-align: middle;
                          margin-bottom: 10px;
                          cursor: pointer;
                          -webkit-transition: background 300ms ease-in-out, color 300ms ease-in-out;
                          -o-transition: background 300ms ease-in-out, color 300ms ease-in-out;
                          transition: background 300ms ease-in-out, color 300ms ease-in-out;
                          span{
                              font-size: 0.7rem;
                              color:  #9B9696;
                          }
                        }
                        input[type=checkbox].css-checkbox + label.css-label {
                            background-image: url("../../../img/iconos/ckeck-desactivado.png");
                            background-repeat: no-repeat;
                            background-position: 0 0;
                         /* &:hover {
                            background-image: url("../img/iconos/checked-activo.png");
                            background-repeat: no-repeat;
                          }*/
                       }
                       input[type=checkbox].css-checkbox:checked + label.css-label {
                          background-image: url("../../../img/iconos/ckeck-activado.png");
                          background-repeat: no-repeat;
                          // color: #000;
                       }
                       label.css-label {
                          -webkit-touch-callout: none;
                          -webkit-user-select: none;
                          -khtml-user-select: none;
                          -moz-user-select: none;
                          -ms-user-select: none;
                          user-select: none;
                        }
                      }
                }
            }
        }
    }
    &__content{
        position: relative;
       
        &:before{
            content: "";
            position: absolute;
            width: 2px;
            height: 100%;
            left: -16px;
            top: 0;
            background-color: $plomo;

        }
        .nav-pills{
            margin-top: 16px;
            margin-bottom: 16px;
            li{
                padding-right: 15px;
                &:last-child{
                    padding-right: 0;
                }
                a{
                    padding: 5px 10px 9px;
                    display: block;
                    &.active{
                        border:1px solid $plomo;
                        background-color:#F5F2F2;
                    }
                }
            }
        }
    }
    &__contenido{
        padding-top: 14px;
        padding-bottom: 50px;
        &--marginT{
            margin-top: 74px;
        }
        .parrafo{
            text-align: center;
            color: #9B9696;
            line-height: 28px;
            margin-top: 31px;
        }
        &__card{
            background-color: #eeeeee;
            margin-bottom: 15px;
            &__top{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 180px;
                img{
                    width: 140px;
                }
                &:before{
                    content: "";
                    position: absolute;
                    width: 74%;
                    height: 1px;
                    left: 0;
                    margin: auto;
                    right: 0;
                    bottom: 12px;
                    background-color: $plomo;
                }
                span{
                    top: 8px;
                    right: 15px;
                    position: absolute;
                    font-size: 22px;
                    font-family: $DMregular;
                    color: #9B9696;
                }
            }
            &__center{
                padding: 3px 20px;
                .plus{
                    position: relative;
                    color: $blanco;
                    display: block;  
                    &:hover .plus__content{                                                 
                        background-color:$negro;   
                        width: 90%;                     
                        p{
                            opacity: 1;
                        }
                    } 
                    &:hover p{
                        opacity: 1;
                    }                 
                    .icono{
                        width:41px;
                        height:41px;                        
                        background-color: $negro;
                        border-radius: 50%;
                        display: flex;
                        z-index: 1;
                        position: relative;
                        justify-content: center;
                        align-items: center;                                                                   
                        &__border{
                            width: 37px;
                            height: 37px;
                            border-radius: 50%;
                            position: relative;                            
                            border:3px solid $blanco;
                            svg{
                                position: absolute;
                                width: 14px;
                                height: 14px;
                                fill: #fff;
                                margin: auto;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                            }
                        }                         
                    } 
                    &__content{                        
                        border-top-right-radius: 30px;
                        border-bottom-right-radius: 30px;
                        background-color:transparent;                                                
                        left: 9px;
                        height: 31px;
                        padding:5px 9px 5px 40px;
                        transition: all 0.5s;
                        top:5px;                                             
                        position: absolute;                       
                        width: 0;                                                
                    }
                    p{
                        color: $blanco;
                        margin-bottom: 0;
                        position: absolute;
                        font-size: 14px;                            
                        opacity: 0;
                        transition: all 0.5s;
                        top: 9px;
                        left: 47px;
                        font-family: $lato;
                    }
                } 
            }
            &__boton{
                padding: 8px 24px 26px;
                text-align: center;
                ul{
                    padding: 0;
                    text-align: center;
                    margin-bottom: 0;
                    li{
                        font-size: 16px;
                        color: $negro;
                        padding: 11px 17px;
                        line-height: 26px;
                        list-style: none;
                        font-family:$lato;
                        border-bottom: 1px solid $plomo;
                        &:first-child{
                            padding-top: 0;
                        }
                        &:last-child{
                            border-bottom: 1px solid transparent;
                        }
                    }
                }
                .link{
                    color: $mostaza;
                    font-size: 18px;
                    font-family: $lato;
                }
            }
        }
        .bannerNegro{            
            background-color: $negro;
            color: $blanco;
            //padding: 27px 10px;
            padding-top: 27px;
           
            h4{
                    margin-top: -1.5rem;
                    font-size: 25px;
                    font-family: $DMregular;
                    margin-bottom: 0;
            }
            h2{
                margin-top: -1rem;
                margin-right: -6rem;
                padding-left: 34px;
                position: relative;
                font-size: 20px;
                margin-bottom: 1rem;
                &:before{
                    content: "";
                    position: absolute;
                    width: 1px;
                    background-color: $blanco;
                    height: 3.3rem;
                    left: 8px;
                    top: -1px;
                    bottom: -8px;
                }
        }
            
            span{
              
                margin-top: 2rem;
                font-size: 22px;
                font-family: $DMregular;
                margin-bottom: 1rem;
               // margin-left: -2rem;
            }
           
            .plusinvert{
               
                position: relative;
                color: $negro;
                display: block;  
                &:hover .plusinvert__content{                                                 
                    background-color:$amarillo;   
                    width: 90%;                     
                    p{
                        opacity: 1;
                    }
                } 
                &:hover p{
                    opacity: 1;
                }                 
                .icono{
                    margin-left: 11.5rem;;
                    width:41px;
                    height:41px;                        
                    background-color: $amarillo;
                    border-radius: 50%;
                    display: flex;
                    z-index: 1;
                    position: relative;
                    justify-content: center;
                    align-items: center;                                                                   
                    &__border{
                        width: 37px;
                        height: 37px;
                        border-radius: 50%;
                        position: relative;                            
                        border:3px solid $negro;
                        svg{
                            position: absolute;
                            width: 14px;
                            height: 14px;
                            fill: $negro;
                            margin: auto;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                        }
                    }                         
                } 
                &__content{                        
                    border-top-left-radius: 30px;
                    border-bottom-left-radius: 30px;
                    background-color:$negro;                                                
                    right: 9px;
                    height: 31px;
                    padding: 5px 9px 5px 40px; 
                    transition: all 0.5s;
                    top:5px;                                             
                    position: absolute;                       
                    width: 0;                                                
                }
                margin-right: -14.5rem;
                margin-top: -1rem;
                margin-left: 10rem;
                p{
                    color: $negro;
                    margin-bottom: 0;
                    position: absolute;
                    font-size: 13px;                            
                    opacity: 0;
                    transition: all 0.5s;
                    top: 9px;
                    right: 3rem;
                    font-family: $lato;
                    // margin-right: 10rem;
                }
            }
            /*p{
                padding-left: 34px;
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    width: 1px;
                    background-color: $blanco;
                    height: 53px;
                    left: 8px;
                    top: -7px;
                }
            }*/
            span{
                color: $amarillo;
                display: block;
                margin-right: 15px;
            }
        } 
    }
}
.list-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 5px 10px;
    padding: 10px;
    position: relative;
    height: 70px;
    &:hover{
        text-decoration: none;
        background-color: #f5f2f2;
    }
    label{
        left: 30px;
        position: absolute;
        width: 80%;
        cursor: pointer;
        line-height: 70px;
        height: 100%;
    }
    .radio{
        position: absolute;
        right: 0;
        width: 20%;
        cursor: pointer;
        &:focus{
            outline: none;
            border: 0;
            box-shadow: none;
        }
    }
    &-item{
        display: flex;
        align-items: center;
        text-decoration: none;
        &:hover{
            text-decoration: none;
        }
    }
    &-icon{
        margin-left: 30px;
        font-size: 25px;
        font-weight: bold;

    }
    &-input{
        width: 100%;
    }
}
.catalogo-item{
	min-width: 300px;
    max-width: 300px;
    .filtros__contenido__card{
        min-height: 500px;
        box-shadow: 0 0 5px 1px rgb(0 0 0 / 17%);

    }
}

}