
@media (max-width: 1920px){
    .catalogo{
        padding: 45px 0px;
        margin-top: 7rem;
        .titulo{
            margin-bottom: 2rem;
        }
        &__content{
            margin-top: 74px;
            &__pais{
                text-align: center;
                padding-top: 4px;
                padding-bottom: 34px;
                display: block;
                img{
                    width: 66px;
                    margin-bottom: 24px;
                }
                h4{
                    font-size: 22px;
                    color: $negro;
                }
            }
        }
        .tema{
            margin-top: 74px;
            &__item{
                position: relative;
                width: 67%;
                height: 89px;
                margin-bottom: 83px;
                overflow: hidden;
                &__color{
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    top:0;
                    background: linear-gradient(to right, rgba(255, 255, 255,0.7%) 0%, #2e2e2e 46%, #2e2e2e 100%);
                }
                img{
                    transition: all 0.5s;
                }
                &:hover img{
                    transform: scale(1.1);
                }
                h3{
                    position: absolute;
                    color: $blanco;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    left: 1rem;
                    height: 27px;
                    font-size: 20px;
                    font-family: $DMregular;
                }
            }
        }
    }
    
    .circulo {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
    }
    
    .pointer {
        cursor:pointer 
    }

    .container-catalogo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
        flex-wrap: wrap;
        &-item{
            position: relative;
            background-color: #f2f2f2;
            width: 40%;
            margin: 30px;
            border-radius: 15px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            min-height: 440px;
            min-width: 300px;
            box-shadow: 0 2px 5px 2px rgb(0 0 0 / 15%);
            
        }
    }
    .catalogo-btn{
        margin: 30px auto;
    }
    .catalogo-img{
        height: 30px;
        width: 30px;
    }
    .catalogo-letter{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        margin: 10px;
        &-estado{
            position: absolute;
            top: 10px;
            left: 10px;
            font-weight: bold;
            font-size: 1.2rem;
            .danger{
                color: #dc3545 ;
            }
            .succsess{
                color: #28a745;
            }
            .warning{
                color: #f0ad4e;
            }
        }
        .catalogo-title{
            font-weight: bold;
            margin-right: 20px;
    
        }
    }
    .btn-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        .btn{
            margin: 5px;
            min-width: 150px;
            max-width: 250px;
            &.danger{
                border-color: #dc3545;
            }
        }
    }
    
    
    }
